@charset "UTF-8";
.TabbedPanels {
	margin: 0px;
	padding: 0px;
	float: left;
	clear: none;
	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}
.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
}
.TabbedPanelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 9px 34px;
	margin: 0px 3px 0px 0px;
	background-color:#AAA9AA;
	list-style: none;
	border-left: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	border-top: solid 1px #ccc;
	border-right: solid 1px #ccc;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
font-size:20px;color:#fff; font-family:Verdana, Geneva, sans-serif; font-weight:normal;	
}

.TabbedPanelsTabHover {
	background-color: #fff;
	color:#000;
	border-bottom: solid 1px #FFF;	
}
.TabbedPanelsTabSelected {
	background-color: #00A5E0;
	border-bottom: 1px solid #fff;
	color:#fff;
} 
.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}
.TabbedPanelsContentGroup {
	clear: both;
	border-left: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	border-top: solid 1px #ddd;
	border-right: solid 1px #ddd;
	background-color: #fff;
}
.TabbedPanelsContent {
	padding: 4px;
}
.TabbedPanelsContentVisible {
}
