@charset "UTF-8";

.TabbedPanels {
	margin: 0px;
	padding: 0px;
	float: left;
	clear: none;
	width: 630px; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}

.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
}

.TabbedPanelsTab {
	position: relative;
	top: 1px;
	float: left;
	padding: 4px 10px;
	margin: 0px 3px 0px 0px;
	font: bold 0.8em sans-serif;
	background-color: #eee;
	list-style: none;
	border-left: solid 1px #999;
	border-bottom: solid 0px #CCC;
	border-top: solid 1px #999;
	border-right: solid 1px #999;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;  background-image:url(../images/subjectareas/downarrow.gif); background-repeat:no-repeat; background-position:97% 60%;
}

.TabbedPanelsTabHover {
	background-color: #FFF;
	color:#84213f;  
}

.TabbedPanelsTabSelected {
	background-color: #FFF; padding: 4px 12px;
	border-bottom: 1px solid #FFF; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; color:#84213f; }

.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}

.TabbedPanelsContentGroup { width:630px;
	clear: both; height:auto; 
	border-left: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	border-top: solid 1px #CCC;
	border-right: solid 1px #CCC;
	background-color: #FFF;
}


.TabbedPanelsContent {
	padding: 4px;
}

.TabbedPanelsContentVisible {
}
.marT10{margin-top:10px;}