@charset "utf-8";
body {font-family:"メイリオ","MS PGothic", "MS Mincho"; margin: 0px; margin-bottom: 0px; background-image:url(../img/backgrounds/bg1.png); background-position:0px 0px; background-repeat:repeat }
.vabsmiddle{vertical-align:middle}
*{font-family:Arial, Helvetica, sans-serif;font-style:inherit;font-weight:inherit;margin:0px;padding:0px;}
img{border:none;}
a{text-decoration:none;}

/* Header container */
/* Header container new */
#headerwrap {	background-color:#fff; padding: 0px; margin:0px; color: #CCC; box-shadow: 0px 0px 10px #8e8e8e;}
#headerwrap .header{ background-color:#fff; margin:0 auto; width:1000px; height:150px;}
.topbar-container{width:960px;height:30px;margin:0 auto;padding:0 10px 0 20px; background-color:none; }
.topbar-container .h1-title{float:left; height:30px; width:53%; font-family:"メイリオ", "MS Mincho"; font-size:8px!important; line-height:30px;letter-spacing:1px; color:#666; font-weight:normal}
.enago-cn-flag{background-image:url("../img/index/index-sprite.png");background-repeat:no-repeat;background-position:-29px -67px;margin-left:5px;margin-right:5px}
.enago-tw-flag{background-image:url("../img/index/index-sprite.png");background-repeat:no-repeat;background-position:0px -67px;margin-left:5px;margin-right:5px}
.enago-tr-flag{background-image:url("../img/index/index-sprite.png");background-repeat:no-repeat;background-position:-116px -67px;margin-left:5px;margin-right:5px}
.enago-en-flag{background-image:url("../img/index/index-sprite.png");background-repeat:no-repeat;background-position:-58px -67px;margin-left:5px;margin-right:5px}
.enago-de-flag{background-image:url("../img/index/index-sprite.png");background-repeat:no-repeat;background-position:-87px -67px;margin-left:5px;margin-right:5px}
.enago-br-flag{background-image:url("../img/index/index-sprite.png");background-repeat:no-repeat;background-position:-116px -41px;margin-left:5px;margin-right:5px}
.enago-kz-flag{background-image:url("../img/index/index-sprite.png");background-repeat:no-repeat;background-position:0px -403px;margin-left:5px;margin-right:5px}
.enago-kr-flag{background-image:url("../img/index/index-sprite.png");background-repeat:no-repeat;background-position:-39px -403px;margin-left:5px;margin-right:5px}
.enago-ae-flag{background-image:url("../img/index/index-sprite.png");background-repeat:no-repeat;background-position:-78px -403px;margin-left:5px;margin-right:5px}

#headerContainer{width:980px;padding-right:10px;margin:auto;margin-top:0px;padding-top:00px;height:115px;padding-bottom:5px;padding-left:10px; float:left}
#headerContainer #logo{float:left;display:block;height:68px;width:255px;margin-left:10px;margin-top:10px; background-image:url(../img/header/logo.png); background-position:0px 0px; background-repeat:no-repeat; margin-bottom:5px; }
#headerContainer #titleWrapper{height:30px;float:left;width:520px; display:block; line-height:30px; clear:both; margin-top:0px; margin-left:10px;}
#headerContainer #titleWrapper .titleSlogan{float:left;font-weight:normal;font:normal 16px/30px;font-family:"MS Mincho";color:#000;padding:0px; letter-spacing:1px; display:block; border-top:1px solid #ccc;}
#headerContainer #titleWrapper .titleSlogan strong{font-weight:bold; color:#84213f;}
.titleSlogan1{font-weight:bold;font:bold 26px/30px;font-family:"MS Mincho";color:#84213f;padding:0px; letter-spacing:2px; padding-top:35px; display:inline-block;}
#rightcontainer{float:right;width:276px;vertical-align:top;}
.fonttext{font-size:12px;font-weight:bold;color:#84213f;display:inline-block;padding:2px;height:15px;margin-top:0px;margin-right:5px;letter-spacing:1px;}
.rightlinks{float:right;}
.rightlinks a.toplink{text-decoration:underline;color:#2c181a;font:12px "メイリオ";font-family:"メイリオ", "MS Mincho";padding:0px 0px 0px 5px;line-height:16px;margin-right:7px;}
.rightlinks a.toplink:hover{text-decoration:none;color:#2c181a;}
#rightcontainer .callus{padding:0 10px;}
#rightcontainer #fontsizer{vertical-align:top; margin-top:50px;}


#topbar .country{float:right;width:108px;}
.menu_class{cursor:pointer;width:113px;height:15px;background:#fff url(../img/index/index-sprite.png);background-repeat:no-repeat;background-position:0px -42px;padding:0px 0px 0px 0px;}
.anylinkcss{position:absolute;left:0;top:0;visibility:hidden;border:1px solid #999;border-bottom-width:0;line-height:18px;z-index:100;width:200px;margin-left:-90px;}
.anylinkcss ul{margin:0;padding:0;}
.anylinkcss li{background-color:#fff;list-style:none;float:left;width:100px;}
.anylinkcss li.blank{background-color:#fff;list-style:none;float:left;width:200px;}
.anylinkcss li a{color:#000;text-decoration:none;display:block;font-size:11px;padding:0px 5px 5px 0px;}
.anylinkcss li a:hover{color:#A50A3A;}
.anylinkshadow{position:absolute;left:0;top:0;z-index:99;background:#000;visibility:hidden;margin-left:-90px;}

/* Top Navigation */
.mainnavigation{margin:0 auto;height:30px;overflow:hidden;width:100%;padding:0px;background:url(../img/index/index-sprite.png) repeat-x 0px -292px;}
.mattblackmenu{margin:0 auto;padding:0;width:1000px}
.mattblackmenu ul{padding:0;margin:0;border-top:1px solid #d24b74;border-right:1px solid #d24b74;border-left:0px solid #d24b74;}
.mattblackmenu li{display:inline;margin:0;text-align:center}
.mattblackmenu li a{float:left;display:block;text-decoration:none;margin:0;color:white;background:url(../img/index/nav-bg.png) repeat-x;height:30px;line-height:30px;text-align:center;font:normal 12px;font-family:"MS Mincho";list-style-type:none;letter-spacing:1px;font-size:14px; padding:0 28px; border-left:2px solid #AC0336; border-right:1px solid #85203F}
.mattblackmenu li a:hover{background:url(../img/index/nav-bg-hover.png) 0 0 repeat-x; height:43px}
.mattblackmenu li a:visited{color:white;}
.mattblackmenu a.selected{background:url(../img/index/nav-bg-hover.png) 0 0 repeat-x;}
.mattblackmenu li a span{font-family:Arial, Helvetica, sans-serif;font-weight:normal}

/* breadcrumb css */
.breadcrumbwrap{width:100%;height:28px;margin:0 auto; border-top:0px #eeeeee solid; display:block; clear:both; background-image:url(../img/navigation/breadcrumbbg.png); background-repeat:repeat-x; background-position:0px 0px; position:absolute; top:180px; left:0 }
#breadcrumb{width:1000px;height:28px;margin:0 auto; display:block; clear:both; color:#fff; line-height:28px;font-size:11px; font-family:"メイリオ","MS PGothic", "MS Mincho";}
#breadcrumb span{padding-left:20px;}
#breadcrumb a{text-decoration:none;color:#fff;}


/* Content Containers */
#layout-wrapper { margin: 0px auto;	width: 960px; }
#columns-wrapper { background:url(../img/backgrounds/column-bg.png); background-repeat:repeat-y; background-position:0px 0px; overflow: hidden; border: 0px solid #151515; border-top: none; margin:40px 0px 0px 0px; height:auto }
.columns-wrapper { overflow: hidden; border: 0px solid #151515; border-top: none; margin:20px 0px 0px 0px; }
#layout-wrapper-interviews { margin: 0px auto;	width: 1000px;}
#columns-wrapper-interviews { overflow: hidden; border-top: none; margin:20px 0px 0px 10px; border-radius: 4px 4px 4px 4px; border:1px solid #ccc; }


/* Leftbar */
#leftcontainer { float: left; width: 253px; padding: 10px 10px 86px 10px; font-size: 12px; background-image: url(../img/backgrounds/leftcontainerbg.png); background-position:0px 0px; background-repeat:repeat-y; border-radius: 4px 4px 4px 4px; border:1px solid #ccc; margin-left:0px; border-bottom:0px  }

/* sub navi css */
.subnav{clear:both;width:250px;padding-bottom:0px;margin-bottom:08px; margin-left:0px; margin-top:0px}
.subnav .navTitle{height:200px;background:url('../img/subnav/subnav-top.png');background-repeat:no-repeat;background-position:0px 0px;}
.subnav .navTitle dt{padding-left:30px; font-weight:bold;color:#fff; font-size:17px; font-family:"MS Mincho"; padding-top:160px; display:block; height:40px; letter-spacing:0px}
.subnav .items{overflow:auto;width:250px;padding:0px 5px 7px 0px;height:auto;margin:0px auto; margin-top:-1px;  }
.subnav .items a{height:39px;width:227px;display:block;padding-left:20px;background-image: url(../img/subnav/itembg.png) ;background-repeat:no-repeat;background-position:0px 0px;margin-right:0px;padding-right:0px;letter-spacing:1pt;cursor:pointer;border-top:1px solid #fff;border-left:1px solid #dedddd;border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7; font:12px/39px "メイリオ","MS PGothic", "MS Mincho";font-family:"メイリオ","MS PGothic", "MS Mincho";color:#000; text-decoration:underline}
.subnav .items a:hover{color:#fff; text-decoration:none; background-image: url(../img/subnav/itembg-hover.png) ;background-repeat:no-repeat;background-position:0px 0px; }
.subnav .items a.itemcurrent{color:#fff; text-decoration:none; background-image: url(../img/subnav/itembg-hover.png) ;background-repeat:no-repeat;background-position:0px 0px; }
a.itemcurrent{color:#fff; text-decoration:none; background-image: url(../img/subnav/itembg-hover.png) ;background-repeat:no-repeat;background-position:0px 0px; }

.subnav .items a.first{height:39px;width:227px;display:block;padding-left:20px;background-image: url(../img/subnav/itembg.png) ;background-repeat:no-repeat;background-position:0px 0px;margin-right:0px;padding-right:0px;letter-spacing:1pt;cursor:pointer;border-top:1px solid #e7e7e7;border-left:1px solid #dedddd;border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7; font:12px/39px "メイリオ","MS PGothic", "MS Mincho";font-family:"メイリオ","MS PGothic", "MS Mincho";color:#000; text-decoration:underline}
.subnav .items a.first:hover{color:#fff; text-decoration:none; background-image: url(../img/subnav/itembg-hover.png) ;background-repeat:no-repeat;background-position:0px 0px; }

/*======== Left banners css ==================*/
.notice{background-image:url(../img/index/notice.png); width:250px; height:99px; display:block;margin-bottom:13px; margin-left:0px; clear:both;}
.noticetext{font:12px "メイリオ", "MS PGothic", "MS Mincho";color:#313131;line-height:18px;letter-spacing:1px; padding:32px 10px 2px 10px; display:block;}

.bannerContainer3{clear:both;width:248px;margin-bottom:5px; border:1px solid #dedbdb }
.bannerContainer3:hover{clear:both;width:248px;margin-bottom:5px; border:1px solid #aea9a9}
.rightbanner-sprite{ background-image:url(../img/sidebar/sidebar-banners-sprite.png); background-repeat:no-repeat;}
.isobanner{background-position:0px 2px;width:250px;height:65px;margin-top:-4px;margin-bottom:9px;}

.recommendbanner{background-position:0px -780px;width:250px;height:60px;margin-top:-1px;margin-bottom:-2px;}
@media screen and (-webkit-min-device-pixel-ratio:0){.recommendbanner{background-position:0px -782px;width:250px;height:60px;margin-top:-1px;margin-bottom:-2px;}
}

.redherringbanner{background-position:0px -60px;width:250px;height:60px;margin-bottom:-1px}
@media screen and (-webkit-min-device-pixel-ratio:0){.redherringbanner{background-position:0px -60px;width:250px;height:60px;margin-top:-2px;}
}
/*.bizzbanner{background-position:4px -954px;width:250px;height:60px;margin-bottom:-1px}
@media screen and (-webkit-min-device-pixel-ratio:0){.bizzbanner{background-position:4px -954px;width:250px;height:60px;margin-top:-2px;} }*/
.bannerContainer3 .materialgoldbanner{background-position:-1px -131px; width:248px; height:58px;}
.bannerContainer3 .interviewbanner{background-position:-1px -196px; width:248px; height:58px;}
.bannerContainer3 .subjectareabanner{background-position:-1px -262px; width:248px; height:58px;}
.bannerContainer3 .conferencesbanner{background-position:-1px -328px; width:248px; height:58px;}
.bannerContainer3 .acceptedpapersbanner{background-position:-1px -393px; width:248px; height:58px;}
.bannerContainer5 .ulatus{background-position:-1px -631px;width:248px;height:141px;}
.beginnerbanner{background-position:0px -548px; width:250px; height:78px; margin-bottom:10px}

.bannerContainer4{clear:both;width:250px;margin-bottom:20px; margin-top:40px; border:0px solid #dedbdb; }
.paymentsbanner{background-position:-2px -470px;width:244px;height:35px;}

.blogContainer{clear:both;width:248px;margin-top:20px; border:1px solid #ccc; background-color:#FFF }
.blogContainer .title{font:normal 28px "MS PMincho";color:#000; font-size:28px; font-weight:bold;letter-spacing:4px; display:block; height:40px; margin:10px 10px 10px 10px; width:224px; clear:both; }
.blogContainer .title a{font:normal 28px "MS PMincho";color:#000; font-size:28px; font-weight:bold; text-decoration:none; line-height:50px; }
.blogContainer .title a:hover{ color:#057fd7}
.blogContainer .content{margin:0px 10px 0px 10px; width:234px; clear:both; }
ul.bloglist{margin:0px; padding:0px; margin-left:0px; margin-bottom:0px; margin-top:0px; clear:both;}
ul.bloglist li{list-style-image:none;list-style-type:none;list-style-position:outside;font:12px "メイリオ";font-family:"メイリオ","MS PGothic", "MS Mincho";color:#057fd7; padding-left:15px;margin-bottom:10px;vertical-align:top;margin-top:0px;clear:both; line-height:18px; letter-spacing:0px; padding-right:10px}
.feedburnerFeedBlock{padding:0px 0 0px 0;border-bottom:0px solid #820026;border-left:0px solid #e3e3e3;border-right:0px solid #e3e3e3;border-top:0px solid #800025;height:auto;}
.feedburnerFeedBlock ul{margin:0px; padding:0px; margin-left:0px; margin-bottom:0px; margin-top:0px; clear:both;}
.feedburnerFeedBlock ul li{list-style-image:none;list-style-type:none;list-style-position:outside;font:12px "メイリオ";font-family:"メイリオ","MS PGothic", "MS Mincho";color:#057fd7; padding-left:15px;margin-bottom:10px;vertical-align:top;margin-top:0px;clear:both; line-height:18px; letter-spacing:0px; padding-right:10px}
.feedTitle{ display:none; visibility:hidden}
.feedTitle a{color:#057fd7; text-decoration:underline}
.feedTitle a:visited{color:#057fd7; text-decoration:underline}
.feedTitle a:hover{color:#057fd7; text-decoration:none}
.feedTitle img{display:none;visibility:hidden;}
.headline{font:12px "メイリオ";font-family:"メイリオ","MS PGothic", "MS Mincho";color:#111111; }
.headline a{color:#111111; text-decoration:underline}
.headline a:visited{color:#111111; text-decoration:underline}
.headline a:visited:hover{text-decoration:none;height:15px;padding-left:3px;padding-right:3px;margin:0px;color:#111111;}
.headline a:hover{color:#111111; text-decoration:none}
.date{ color:#9b2649; font-size:10px; }
.fbsubscribelink{display:none;visibility:hidden;}
#creditfooter{display:none;visibility:hidden;}
/*
.testimonialContainer{clear:both;width:248px;margin-top:20px; border:1px solid #ccc; background-color:#FFF; background-image: url(../img/sidebar/testimonials-image.png) ; background-repeat:no-repeat; background-position:50% 100%;  }
.testimonialContainer .title{font:normal 28px "MS PMincho";color:#000; font-size:28px; font-weight:bold;letter-spacing:5px; display:block; height:40px; margin:0px 5px 10px 5px; width:234px; clear:both; line-height:40px; text-align:center }
.testimonialContainer .title a{font:normal 28px "MS PMincho";color:#000; font-size:28px; font-weight:bold; text-decoration:none; line-height:40px; }
.testimonialContainer .title a:hover{ color:#057fd7}
.testimonialContainer .title a.testimoniallink{color:#057fd7; text-decoration:underline; font:12px "メイリオ","MS PGothic", "MS Mincho"; letter-spacing:1px}
.testimonialContainer .title a.testimoniallink:hover{ text-decoration:none}
.testimonialContainer .content{margin:0px 0px 0px 0px; width:234px; clear:both; height:360px; }
.testimonialquoteText{font:12px "メイリオ", "MS PGothic", "MS Mincho";color:#444444;line-height:16px;padding:5px 0px 0px 10px; letter-spacing:1px}
.testimonialname{PADDING-RIGHT:0px;PADDING-LEFT:0px;FONT-WEIGHT:bold;PADDING-BOTTOM:10px;COLOR:#9b2649;font-size:12px;PADDING-TOP:0px;TEXT-ALIGN:right}
.designation{FONT-WEIGHT:normal;COLOR:#9b2649;font-size:12px;}
*/

.testimonialContainer{clear:both;width:248px;margin-top:0;border:1px solid #ccc;background-color:#FFF;/*background-image:url(../img/sidebar/testimonials-image.png);*/background-repeat:no-repeat;background-position:50% 100%;}
.testimonialContainer .title{ background:url(../img/sidebar/testimonials-icon.png) 8px 3px no-repeat; padding-left:55px; font:normal 28px "MS PMincho";color:#000;font-size:28px;font-weight:bold;letter-spacing:5px;display:block;height:40px;margin:10px 5px 0px 5px;width:234px;clear:both;text-align:left;height:60px;}
.testimonialContainer .title a{font:normal 28px "MS PMincho";color:#821f3b;font-size:28px;font-weight:bold;text-decoration:none;}
.testimonialContainer .title a:hover{color:#057fd7}
.testimonialContainer .title a.testimoniallink{color:#057fd7;text-decoration:underline;font:12px "メイリオ","MS PGothic", "MS Mincho";letter-spacing:1px}
.testimonialContainer .title a.testimoniallink:hover{text-decoration:none}
.testimonialContainer .content{margin:0px 0px 0px 0px;width:234px;clear:both;height:314px;}
.testimonialquoteText{font:12px "メイリオ", "MS Mincho";color:#444444;line-height:16px;padding:5px 0px 0px 10px;letter-spacing:1px}
.testimonialname{PADDING-RIGHT:0px;PADDING-LEFT:0px;FONT-WEIGHT:bold;PADDING-BOTTOM:10px;COLOR:#9b2649;font-size:12px;PADDING-TOP:0px;TEXT-ALIGN:right}
.testimonialname img{background-image:url(../img/index/index-sprite.png);background-repeat:no-repeat;background-position:-83px -126px}
.designation{FONT-WEIGHT:normal;COLOR:#9b2649;font-size:12px;}

.payment{clear:both;width:244px; border:3px #ccc solid;margin-bottom:10px;margin-left:0px;margin-top:15px; background:#fff;}
.paymentbannerLink{color:#057FD7;text-decoration:underline; font-size:14px !important;}
.payment .title{display:block;height:50px;margin:0px 0px 10px 10px;width:234px;clear:both;}
.payment .content{margin:0px 10px 0px 10px;width:234px;clear:both;text-align:center}
.payment-qt{font:12px "メイリオ", "MS PGothic", "MS Mincho";color:#444444;padding:0px 0px 0px 0px;letter-spacing:1px;font-weight:bold;text-align:center;}
.payment-que{FONT-WEIGHT:normal;COLOR:#000;font-size:12px;"メイリオ", "MS Mincho";letter-spacing:1px;padding:0px 5px 10px 0px;}
.payment-imagediv{align:center;width:234px;text-align:center;display:block;margin-top:10px;padding:2px 0px 8px 0px;}
.payment-img{width:226px;height:41px;margin-right:0px;vertical-align:middle;margin-left:10px}

/* Main Content  */
#maincontentcontainer { float: left; width: 650px; margin-left:10px; margin-right:10px;  font-size: 14px;  margin-top:0px; background-image:url(../img/backgrounds/maincontentcontainerbg.png); background-repeat:no-repeat;}
.inner-bottom-bg{height:1px}
.inner-bottom-bg img{margin-left:10px}
#floatMenu {position:absolute; top:294px; left:50%; margin-left:454px;width:33px;}

.commonPageTitle{font:bold 28px "MS PMincho"; font-family:"MS PMincho"; color:#9b2649;font-size:28px;margin:33px 0px 0px 0px;padding-left:15px;display:block;text-align:left;letter-spacing:0px; }
.PageTitle_description{font:normal "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho";color:#9b2649;font-size:13px;font-weight:normal;margin:0px;text-align:left;vertical-align:middle; letter-spacing:0px; padding-left:10px; padding-top:5px; display:inline-block}

.commonIntroductionText{font:12px "メイリオ", "MS PGothic", "MS Mincho";width:610px;color:#313131;line-height:20px;margin-left:0px;margin-right:0px;margin-bottom:20px; padding:0px; letter-spacing:1px; clear:both}
.h3Normal{background-image:url("../img/common/h3-bg.png"); background-position:0% 0%; background-repeat:no-repeat; font:18px "メイリオ"; font-family:"メイリオ", "MS PGothic", "MS Gothic"; width:630px; height:36px; color:#84213f;line-height:36px;margin-left:0px;margin-right:0px;margin-bottom:20px;margin-top:20px; padding:0px; text-indent:35px; letter-spacing:1px; clear:both; display:block; font-weight:bold }
.brd1{ border:1px solid #ccc; border-radius: 4px 4px 4px 4px; }
.brd1shadow{ border:1px solid #f8f8f8; border-radius: 4px 4px 4px 4px; -moz-box-shadow: 0px 1px 3px 1px #ccc; -webkit-box-shadow: 0px 1px 3px 1px #ccc; box-shadow: 0px 1px 3px 1px #ccc;  }
.aligncenter{text-align:center}
.ulBasic{margin-bottom:10px;}
.ulBasic li{background-image: url(../img/header/toplinkseperator.png) ;background-position:0px 8px;background-repeat:no-repeat;list-style-image:none;list-style-type:none;list-style-position:outside;font:12px/20px "メイリオ", "MS PGothic", "MS Mincho"; font-family:"メイリオ", "MS PGothic", "MS Mincho";padding-left:10px;margin-bottom:0px;vertical-align:top;clear:both}
#quotation-callus-banner{ display:block; float:left; clear:both; width:600px; height:296px; background-color:#fff; margin:20px 10px 20px 10px; border:1px solid #f8f8f8; border-radius: 4px 4px 4px 4px; -moz-box-shadow: 0px 1px 3px 1px #ccc; -webkit-box-shadow: 0px 1px 3px 1px #ccc; box-shadow: 0px 1px 3px 1px #ccc; }
#quotation-callus-banner .inner{display:block; float:left; clear:both; width:580px; height:240px; background-color:#fff; margin:14px; border:0px solid #fff; padding:0px}
#quotation-callus-banner .inner .autoquotebutton{ background-image:url(../img/common/quotation-callus-banner.png); background-repeat:no-repeat; background-position:0px 0px; height:35px; width:274px}
#quotation-callus-banner .inner .autoquotebutton:hover{background-position:0px -272px; }
#quotation-callus-banner .inner .questionbutton{background-image:url(../img/common/quotation-callus-banner.png); background-repeat:no-repeat; background-position:-298px 0px; height:35px; width:274px; margin-left:20px}
#quotation-callus-banner .inner .questionbutton:hover{background-position:-297px -272px;}
#quotation-callus-banner .inner .quotationbutton{background-image:url(../img/common/quotation-callus-banner.png); background-repeat:no-repeat; background-position: 0px -40px; height:81px; width:571px; margin-top:5px}
#quotation-callus-banner .inner .quotationbutton:hover{background-position: 0px -312px}
#quotation-callus-banner .inner .callus{background-image:url(../img/common/quotation-callus-banner.png); background-repeat:no-repeat; background-position: -1px -136px; height:126px; width:570px; }
.inner .buttons{width:100%; float:left;}
.inner .banner{width:100%; float:left;  margin-top:16px}

/* Footer container */
#footerwrap{color:#000000;background-color:#e0dcdd;padding:0px 0px 0px 0px;font-size:12px;box-shadow:0px 8px 10px 5px #8e8e8e;margin-bottom:0px;font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
#footerwrap .footerContainer{background-color:#e0dcdd;margin:0 auto;width:1000px;height:375px;padding:0px 0px}
.footertoplinks{height:30px;width:980px;margin-left:0px;margin-top:10px;margin-bottom:0px;text-align:center;color:#bfbbbc;line-height:30px;font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footertoplinks{ height:30px;width:980px;margin-left:0px;margin-top:10px; margin-bottom:0px;text-align:center; color:#bfbbbc; line-height:30px;}
.footertoplinks a{ text-decoration:none; color:#000; font-size:11px; letter-spacing:1px; font-family:"メイリオ","MS PGothic", "MS Mincho"; padding:0px 5px}
.footertoplinks a:hover{ text-decoration:underline}
#footerListContainer{display:block;height:120px;width:100%;margin-left:0px;padding-top:10px;padding-left:0px;}
#footerLogos{display:block;height:80px;width:980px;margin-left:0px;margin-top:10px;padding-top:10px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;text-align:center;padding-left:00px; background-color:#FFF}
#footerLogos .leftlogos{float:left;width:48%;padding-left:10px;text-align:left;height:50px}
#footerLogos .rightlogos{float:right;width:48%;text-align:right;padding-right:20px;height:50px;margin-top:0px}
.footerlogotext{font-size:10px;color:#000000;letter-spacing:0px; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerlogotext a{font-size:10px;color:#000000;text-decoration:none; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerlogotext a:hover{font-size:10px;color:#000000;text-decoration:underlinel; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerlogotextsmall{font-size:10px;color:#000000;letter-spacing:0px; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerlogotextsmall a{font-size:10px;color:#000000;text-decoration:none; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerlogotextsmall a:hover{font-size:10px;color:#000000;text-decoration:underline; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
a.righttext{font:10px "メイリオ","MS PGothic", "MS Mincho";color:#000;}
/*
.footerList{width:420px;padding-left:0px;margin:10px 10px 0 10px; text-align:left; display:inline-block; height:110px;  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
*/
.footerTitleSpan{color:#84213f;font-size:12px;font-weight:bold; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerList1{width:450px;padding-left:20px;margin-right:10px; text-align:left;display:inline-block;height:110px;float:left; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerList1 p {margin-top:10px; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
/*
.footerList1 ul{padding-left:0px;margin-left:0px;margin-right:20px;margin-top:10px;margin-bottom:0px;padding-bottom:0px;}
.footerList1 li{color:#000000;font-size:11px;font-family:"メイリオ", "MS Mincho";letter-spacing:0px;list-style-type:none;list-style-position:outside;margin-bottom:5px;margin-left:0px;padding-left:0px;}
*/
a.generalLink{color:#000000;font-size:12px;font-family:"メイリオ", "MS Mincho";letter-spacing:0px;text-decoration:none}
a.generalLink:hover{text-decoration:underline}
a.footerLink{text-decoration:underline;color:#000000;font-size:11px;font-family:"メイリオ", "MS Mincho";}
a.footerLink:hover{color:#aaa;}

.footerList2{padding-left:10px;margin-right:10px; text-align:left;display:inline-block;height:110px;float:left;}

/*
.footerList2 ul{padding-left:0px;margin-left:0px;margin-right:5px;margin-top:10px;margin-bottom:0px;padding-bottom:0px;}
.footerList2 li{color:#000000;font-size:10px;list-style-type:none;list-style-position:outside;margin-bottom:5px;margin-left:0px;padding-left:0px;}
*/
.footerList3{padding-left:10px;margin-right:10px; text-align:left;display:inline-block;height:110px;float:left;}
.footerList4{width:980px; clear:both; margin:10px 0 10px 20px; text-align:left; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}

.footerLink{text-decoration:none;color:#000000;}
.footerLink:hover{color:#aaa;}
.footerCopyright{color:#777475;font:normal 9px "メイリオ", "MS Mincho";font-family:"メイリオ","MS Mincho";margin-top:0px;padding:0px 20px 0px 0px;letter-spacing:0px; width:960px; display:block; text-align:left}
.footerCopyright a{color:#777475; text-decoration:none}
.footerCopyright a:hover{color:#000; text-decoration:none}
.sprite{background-image:url(../img/footer/footer-sprite.png);}
.spritebanners{background-image:url(../img/footer/footer-sprite.png);}
.dandb{background-position:-14px -102px;width:95px;height:52px;}
.iso{background-position:-117px -128px;width:55px;height:46px;margin-left:20px;margin-right:20px;margin-top:3px;margin-bottom:3px;}
.verisign{background-position:-176px -128px;width:82px;height:38px;margin-left:7px;margin-right:6px;margin-top:7px;margin-bottom:7px;}
.enagologo{background-position:-16px -273px;width:112px;height:22px;margin-left:9px;margin-right:9px;margin-top:7px;margin-bottom:6px;}
.voxtablogo{background-position:-119px -239px;width:111px;height:28px;margin-left:10px;margin-right:9px;margin-top:4px;margin-bottom:3px;}
.ulatuslogo{background-position:-3px -239px;width:114px;height:29px;margin-left:8px;margin-right:8px;margin-top:3px;margin-bottom:3px;}
.maruzen{background-position:-138px -267px;width:130px;height:30px;}
.nri{background-position:-4px -334px;width:130px;height:30px;}
.dnp{background-position:-4px -300px;width:130px;height:30px;}
.nhk{background-position:-138px -300px;width:130px;height:30px;}
.validlogo{background-position:-138px -334px;width:88px;height:31px; margin-bottom:10px;}
#gototop{display:block;margin-bottom:20px;margin-top:0px;padding:0px;background-color:none;height:40px;width:960px;margin:0 auto;text-align:right;background-image:url(../img/backgrounds/layout-bottom.png);background-repeat:no-repeat;background-position:0px 0px}
#gototop img{margin-right:45px;background-image:url(../img/index/index-sprite.png);background-repeat:no-repeat;background-position:0px 0px;height:32px;width:138px;}

.wd610{width:610px;}
.wd630{width:630px;}
.wd545{width:545px;}
.lh200{line-height:200%}

/* CSS Document */

.redcross{
	color:#ff0000;
	font: bold 16px "MS PGothic";
}
.greencross{
	color:#2e4f08;
	font: bold 16px "MS PGothic";
}
.e{ font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;	
	letter-spacing:0px;}
.u{text-decoration:underline}
.marb5{margin-bottom:5px;}

.ulBasic4{margin:0px; }

.guidetable{border:#CCC 1px dashed; clear:both; width:610px;  }
.brdb1dt{border-bottom:#CCC 1px dashed;}
.sup {font-size:xx-small; vertical-align:top;}
.sub {font-size:xx-small; vertical-align:bottom;}
em{ font-style:italic}

#seealso{width:600px; height:auto; border-top:#000 5px solid; border-right:#CCC 1px solid; border-bottom:#CCC 1px solid; border-left:#CCC 1px solid; padding:10px; margin-top:30px}

.pad5{padding:5px;}

.h3Normaleng
{
	font: normal 20px Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 22px;
	letter-spacing:2px;
	font-weight:normal;
	padding-bottom:0px;
	padding-top:0px;
	text-indent:35px; 
	display:block;
	width:630px;
	line-height:36px;
	height:36px;
	background-image:url("../img/common/h3-bg.png"); background-position:0% 0%; background-repeat:no-repeat; 
	border-top:0px solid #cdadb7;
	clear:both;
	margin:0px; margin-bottom:20px;
	float: left;
}
#headerContainer .titleSlogan a
{text-decoration:none; color:#aaa;}

/* sticky footer css */
   
#stickyfooter {
	position: fixed;
	bottom: 0px;
	margin:0 auto;
	width: 860px;
	left:50%;
	margin-left:-440px;
	height: 40px;
	background:#161616;
	border-top: 1px solid #333333;
	padding:0px 10px 0px 10px;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px #000; z-index:1000;

	/* CSS3 Stylings - Creates the double top border */
	-moz-box-shadow: 0px -1px 0px #161616;
	-webkit-box-shadow:  0px -1px 0px #161616;
    box-shadow:  0px -1px 0px #161616;
	
	/* CSS3 Rounded Corners */
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	
	/* CSS3 Stylings - Creates the gradient background */
	background: -moz-linear-gradient(top, #222222, #111111);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222222), to(#111111)); letter-spacing:1px;
}

#stickyfooter h2 {
	font-size:24px;
	line-height:24px;
	color:#FF6600;
	letter-spacing:1px;
	font-weight:400;
	padding:0px 10px 0px 10px;
	margin:12px 0;
}

#stickyfooter h3 {
	font-size:16px;
	line-height:24px;
	color:#92C82F;
	letter-spacing:1px;
	font-weight:400;
	padding:0px 10px 0px 10px;
	margin:12px 0;
}
#stickyfooter h3 a	{text-decoration:underline !important; display:inline !important;}
#stickyfooter h3 a:hover	{text-decoration:none !important;}
#stickyfooter p {
	color:#fff;
	font-size:12px;
	padding:0 6px 0 11px;
	line-height:18px;
	float:left;
	margin:10px 0;
}
#stickyfooter img {
	border:none;
}
#stickyfooter a {
	color:#FF6600;
	text-decoration:none;
}
#stickyfooter li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}

#stickyfooter .strong { /* Forcing a bold text */
	font-weight:bold;
}
#stickyfooter .italic { /* Forcing an italic text */
	font-style:italic;
}
.clear { /* Use this class between rows of content when you use columns */
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

#stickyfooter .imgshadow { /* Better style on dark background */
	background:#FFFFFE;
	padding:4px; /* Makes the light borders thanks to the background color */
	border:1px solid #333333;
	margin-top:5px;
	/* CSS3 shadow */
	-moz-box-shadow:0px 0px 5px #000000;
	-webkit-box-shadow:0px 0px 5px #000000;
	box-shadow:0px 0px 5px #000000;
}
#stickyfooter .img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 0px;
}
#stickyfooter .img_right { /* Image sticks to the right */
	width:auto;
	float:right;
	margin:5px 0px 5px 15px;
}

#stickyfooter #social {
	float:right; /* Positionning of the social icons container */
	width:auto;
	margin:5px 0px 0px 0px ;
	padding:0px;
	overflow:hidden;
}
#stickyfooter #social li {
	margin-right:7px; /* 12px is the space between each one of them */
	_margin-right:0px; /* IE6 only */
	float:left;
	width:24px;
	padding:0px;
	height:32px;
	list-style:none;
}
#stickyfooter #social li:hover {
	margin-top:-1px; /* Icons move 1px up on hover, you can remove this if you don't like */
}

/* Tooltips for social icons */

a.tooltip:hover {
	text-decoration:none;
}
a.tooltip span {
	display:none;
	padding:5px;
	bottom:44px;
	position:relative;
	width:55px;
	text-align:center;
	/* CSS3 Rounded Corners */
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
a.tooltip:hover span {
	display:block;
	position:absolute;
	border:1px solid #333333;
	background:#181818;
	color:#dddddd;
	font-size:12px;
	margin-left:-20px;
}

#footer_menu {
	margin: 0;
	padding: 0;
	width:auto;
}
#footer_menu li {
	list-style: none;
	float: left;
	font-size:15px;
	padding: 12px 25px 14px;
	border-right:1px solid #111111;
	border-left:1px solid #444444;
	background:#3E3E3E;
	
	/* CSS3 Stylings - Creates the gradient background */
	background: -moz-linear-gradient(top, #3E3E3E, #313131);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3E3E3E), to(#313131));
}
#footer_menu li:hover {
	background:#313131;
	/* CSS3 Stylings - Creates the gradient background */
	background: -moz-linear-gradient(top, #313131, #3E3E3E);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#313131), to(#3E3E3E));
}
#footer_menu li a {
   display: block;
   color: #fff;
   text-decoration: none;
   
}
#footer_menu li a:hover {
   color: #ccc;
}
#footer_menu .imgmenu { /* Used for the home item, text is here hidden and replaced by an image */
    padding:5px 0 0 0;
    border:none;
    background:none;
}
#footer_menu .imgmenu a { /* Used for the home item, text is here hidden and replaced by an image */
    background:url("../img/footer/home.png") top left no-repeat;
    width:36px;
    height:30px;
}
#footer_menu li.imgmenu:hover {
    background:none;
}
#footer_menu li.imgmenu a:hover {
    background:url("../img/footer/home2.png") top left no-repeat;
}

#footer_menu li ul.dropup {
   display: none; 
   width: 10em; /* Width for Opera */
}
#footer_menu li:hover ul.dropup  {
	display: block;
	position: absolute;
	margin: 0 0 0 -16px;
	bottom:40px; /* Distance to the bottom of the browser */
	background-color:#222222;
	border: 1px solid #111111;
	border-bottom:none;

	/* CSS3 Stylings - Rounded Corners */
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}
#footer_menu li:hover li { /* Drop up default lists */
	float: none;
	background:none;
	border:none;
	border-bottom:1px solid #161616;
	padding:12px 10px 12px 10px;
}
#footer_menu li:hover a {
	color: #fff;
}
#footer_menu li:hover a:hover {
	color: #ccc;
}
#footer_menu li:hover p {
	margin:6px 0;
}

/* Right Panel */

#footer_menu .right { /* Use the right class to push the content to the right */
	float:right;
	right:10px;
}

#stickyfooter .dropdown_1column, 
#stickyfooter .dropdown_2columns, 
#stickyfooter .dropdown_3columns {
	margin:4px auto;
	position:absolute;
	padding:10px 5px 10px 5px;
	display:none;
	text-align:left;
}

/* Drop Downs Sizes */

#stickyfooter .dropdown_1column {width: 140px;}
#stickyfooter .dropdown_2columns {width: 320px;}
#stickyfooter .dropdown_3columns {width: 750px;}

/* Showing Drop Down on Mouse Hover - Left aligned */

#footer_menu li:hover .dropdown_1column, 
#footer_menu li:hover .dropdown_2columns, 
#footer_menu li:hover .dropdown_3columns {
	display: block;
	position: absolute;
	margin: 0 0 0 -40px;
	bottom:40px;
	background-color:#222222;
	border: 1px solid #111111;

	/* CSS3 Stylings - Rounded Corners */
	-moz-border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}

#stickyfooter .col_1,
#stickyfooter .col_2,
#stickyfooter .col_3,
#stickyfooter .col_11
{
	display:inline;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-right: 5px;
}
#stickyfooter .col_1 {width:130px;}
#stickyfooter .col_2 {width:250px;}
#stickyfooter .col_3 {width:740px;}
#stickyfooter .col_11 {width:310px; }

/* Lists stylings */

#footer_menu li ul.simple { /* Reset stylings for other lists inside columns */
	margin-left:5px;
	color:#FFF;
}
#footer_menu li ul.simple li {
	border:none;
	padding:0px;
	width:140px;
	line-height:24px; list-style:none;
	margin-left:5px; background-image:url(../img/common/squere/4x4gray.gif); background-repeat:no-repeat; background-position:0px 9px; padding-left:10px;
}
#footer_menu li ul.simple li a.linkhead{
	font-size:16px; text-decoration:none;
	line-height:22px; margin-left:0px; margin-bottom:10px;
	color:#FF6600; letter-spacing:1px;font-weight:bold;
}


.col_1 ul.simple1 { /* Reset stylings for other lists inside columns */
	margin-left:5px;
}
.col_1 ul.simple1 li {
	border:none;
	padding:0px;
	width:140px;
	line-height:24px; list-style:none;
	margin-left:5px; background-image:url(../img/common/squere/4x4gray.gif); background-repeat:no-repeat; background-position:0px 9px; padding-left:10px;
}
.col_1 ul.simple1 li a.linkhead{
	font-size:16px; text-decoration:none;
	line-height:22px; margin-left:0px; margin-bottom:10px;
	color:#FF6600; letter-spacing:1px;font-weight:bold;
}

#stickyfooter h2.servicemenu {
	font-size:16px;
	line-height:22px;
	color:#FF6600;
	letter-spacing:1px;
	font-weight:bold;
	padding:0px 10px 0px 10px;
	margin:10px 0;
}
#stickyfooter h2.servicemenu a.linkhead{ text-decoration:none; color:#FF6600;}
#stickyfooter li ul.ulwhyenagolist{margin-bottom:0px;display:block; clear:both;margin-top:0px; margin-left:10px; width:300px;}
#stickyfooter li ul.ulwhyenagolist li{ background-image:url(../img/footer/tickmark.png); background-position:0px 11px;background-repeat:no-repeat;list-style-image:none;list-style-type:none;list-style-position:outside;font:12px/13px Arial, Helvetica, sans-serif; color:#FFF; padding-left:28px;margin-bottom:5px;line-height:170%;vertical-align:top;margin-top:0px;}
#stickyfooter li ul.ulwhyenagolist li strong{ font-weight:400;color:#92c82f; font-size:13px; }
#stickyfooter li ul.ulwhyenagolist li a{text-decoration:none; display:block; color:#FFF; margin-left: 0px;}
#stickyfooter li ul.ulwhyenagolist li a:hover{text-decoration:none; color:#cccccc;}

#stickyfooter li ul.acceptedpapers-list{margin-bottom:0px; clear:both;margin-top:0px; margin-left:10px;}
#stickyfooter li ul.acceptedpapers-list li{ background-image:url(../img/footer/tickmark.png); background-position:0px 11px;background-repeat:no-repeat;list-style-image:none;list-style-type:none;list-style-position:outside;font:11px/13px Arial, Helvetica, sans-serif; color:#FFF; padding-left:28px;margin-bottom:0px;line-height:170%;vertical-align:top;margin-top:0px; border-bottom:none; padding-bottom:0px}

#stickyfooter li ul.acceptedpapers-list li.num1{ background-image:url(../img/footer/num1.png); background-position:0px 11px;background-repeat:no-repeat; font-size:13px;}
#stickyfooter li ul.acceptedpapers-list li.num2{ background-image:url(../img/footer/num2.png); background-position:0px 11px;background-repeat:no-repeat; font-size:13px;}
#stickyfooter li ul.acceptedpapers-list li.num3{ background-image:url(../img/footer/num3.png); background-position:0px 11px;background-repeat:no-repeat; font-size:13px;}
#stickyfooter li ul.acceptedpapers-list li.num4{ background-image:url(../img/footer/num4.png); background-position:0px 11px;background-repeat:no-repeat; font-size:13px;}
#stickyfooter li ul.acceptedpapers-list li.num5{ background-image:url(../img/footer/num5.png); background-position:0px 11px;background-repeat:no-repeat; font-size:13px;}
#stickyfooter li ul.acceptedpapers-list li.num6{ background-image:url(../img/footer/num6.png); background-position:0px 11px;background-repeat:no-repeat; font-size:13px;}

#stickyfooter li ul.acceptedpapers-list li strong{ font-weight:400;color:#92c82f; font-size:13px; }
#stickyfooter li ul.acceptedpapers-list li a{text-decoration:underline; display:inline; color:#FFF; margin-left: 0px;}
#stickyfooter li ul.acceptedpapers-list li a:hover{text-decoration:none; color:#cccccc;}


#stickyfooter li .col_1 ul.ulsublist{margin-bottom:0px; clear:both; margin-top:0px; margin-left:5px;}
#stickyfooter li .col_1 ul.ulsublist li{ background-image: url(../img/common/squere/6x6enago.gif)  ; background-position:0px 16px;background-repeat:no-repeat;list-style-image:none;list-style-type:none;list-style-position:outside;font:11px/13px Arial, Helvetica, sans-serif; color:#FFF; padding-left:15px;margin-bottom:5px;line-height:170%;vertical-align:top;margin-top:0px;}
.fontorange{color:#FF6600;}

.clients-nav{ display:block; margin:10px 0px 10px 0px ;}
.clients-nav a.client1{ background-image:url(../footer/img/client-sprite.jpg); background-repeat:no-repeat; background-position:0px 0px; width:99px; height:142px; }
.clients-nav a.client1:hover{ background-position:0px -148px;}

.clients-nav a.client2{ background-image:url(../footer/img/client-sprite.jpg); background-repeat:no-repeat; background-position:-103px 0px; width:99px; height:142px; }
.clients-nav a.client2:hover{ background-position:-103px -148px;}

.clients-nav a.client3{ background-image:url(../footer/img/client-sprite.jpg); background-repeat:no-repeat; background-position:-203px 0px;  width:99px; height:142px;}
.clients-nav a.client3:hover{ background-position:-203px -148px;}

.clients-nav a.client4{ background-image:url(../footer/img/client-sprite.jpg); background-repeat:no-repeat; background-position:-304px 0px; width:99px; height:142px;}
.clients-nav a.client4:hover{ background-position:-304px -148px;}


.dropdown_3columns .feedburnerFeedBlock{padding:0px 0 0px 0;height:auto;}
.dropdown_3columns .feedburnerFeedBlock p.feedTitle a{color:#ff6600!important;font:bold 16px Arial, Helvetica, sans-serif;padding-top:0px;padding-left:0px;word-spacing:normal; display:block; clear:both;}
.dropdown_3columns .feedburnerFeedBlock p.feedTitle a:hover{color:#ff6600!important;font:bold 16px Arial, Helvetica, sans-serif;padding-top:0px;padding-left:0px;word-spacing:normal; display:block; clear:both; text-decoration:underline}
.dropdown_3columns .feedburnerFeedBlock p.feedTitle img{display:none;visibility:hidden;}
.dropdown_3columns .feedburnerFeedBlock ul{padding-left:0px;padding-top:0px; display:block; clear:both}
.dropdown_3columns .feedburnerFeedBlock ul li{background-image:url(../footer/img/tickmark.png); background-position:0px 11px;background-repeat:no-repeat;list-style-image:none;list-style-type:none;list-style-position:outside;font:11px/13px Arial, Helvetica, sans-serif; color:#cccccc; padding-left:25px;margin-bottom:5px;line-height:170%;vertical-align:top;margin-top:0px;}
.headline{font:normal 11px Arial, Helvetica, sans-serif;}
.headline a{font:normal 11px Arial, Helvetica, sans-serif;text-decoration:none;height:15px;padding-left:3px;padding-right:3px;margin:0px;color:#454545;}
.headline a:visited{font:normal 11px Arial, Helvetica, sans-serif;text-decoration:none;height:15px;padding-left:3px;padding-right:3px;margin:0px;color:#454545;}
.headline a:visited:hover{font:normal 11px Arial, Helvetica, sans-serif;text-decoration:none;height:15px;padding-left:3px;padding-right:3px;margin:0px;color:#454545;}
.headline a:hover{font:normal 11px Arial, Helvetica, sans-serif;text-decoration:none;height:15px;padding-left:3px;padding-right:3px;margin:0px;color:#454545;}
.fbsubscribelink{display:none;visibility:hidden;}
#creditfooter{display:none;visibility:hidden;}

.topCTAbtn { display:block; height:56px; width:256px; background:url(../images/big-CTA-btn.png) 0 0 no-repeat; }
.topCTAbtn:hover { background-position:0 -56px; }
.topCTAbtn:active { background-position:0 -112px; }

.achieveBox { background:#fff; border:#ccc 1px solid; padding: 10px 0px 0px; margin-bottom: 15px; }

/* accepted papers banner right side */
.static-loader { height: 2px; background: red; transition: all 1.2s ease 0s; width: 0%;}
a.div-roles{height:314px; width:250px;background:url(../img/sidebar/accepted-papers-banner-bg.jpg) no-repeat 0 0; text-decoration:none; display:block; margin:15px 0 10px}
a.div-roles div {display: none; position:relative }
#content {position:absolute; top:77px; left:90px; letter-spacing:0px; width:150px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000; line-height:18px;}
.author{margin-bottom:15px; display:block }
.author strong{ display:block; color:#057fd7; font-size:14px; font-weight:bold}

.publisher{margin-bottom:15px; display:block }
.publisher strong{ display:block; color:#057fd7; font-size:14px; font-weight:bold}

.journal{margin-bottom:15px; display:block }
.journal strong{ display:block; color:#057fd7; font-size:14px; font-weight:bold}

.impactfactor{color: #000; display: block; font-family: Arial,Helvetica,sans-serif; font-size: 24px; height: 30px; letter-spacing: 0; position: absolute; right: 10px; text-align: center; top: 280px;    width: 88px;}

.topnewclient{background:#fff url(../img/index/index-sprite.png);background-repeat:no-repeat;background-position:0px -94px;height:15px;width:16px; vertical-align:middle;}


#stickyfooter .col_3 a.titlelink{	font-size:24px;
	line-height:24px;
	color:#FF6600;
	letter-spacing:1px;
	font-weight:400;
	padding:0px 10px 0px 10px;
	margin:12px 0;}
#stickyfooter .col_3 a.titlelink:hover{font-size:24px;
	line-height:24px;
	color:#FF6600;
	letter-spacing:1px;
	font-weight:400;
	padding:0px 10px 0px 10px;
	margin:12px 0; }	
	
.marb20{margin-bottom:20px;}
.floatRight{float:right}
.mart5{margin-top:5px;}
.mart10{margin-top:10px;}
.marR10{margin-right:10px;}
.marL10{margin-left:10px;}
.mart30{margin-top:30px;}
.exclamation{color:#F00; font-weight:400;}
.foot-li	{float:none !important; width:auto !important;}
#fmjfloatMenu {
    margin-left: 462px;
    position: fixed;
    right: 0;
    top: 230px;
    width: 103px;
    z-index: 1;
}