@charset "utf-8";
/* CSS Document */

.aclink {
	text-decoration: none;
	border: none;
	color: #eaeda1;   margin-bottom:5px;
}
.aclink:hover {
	color: #feffdf;
}
img {
	border: 0px;
}

#acccontainer {
	margin: 10px auto;
	width: 549px;
	border: 0px solid #ccc;
	}

.block {
	position: relative; border-bottom:1px solid #efefef; margin-bottom:5px; 
	}
.h1 {
	background-image:url(../img/common/icon_+.gif);
	background-position:0%;
	background-repeat:no-repeat;
	font-weight: normal;
	padding: 10px;
	padding-left:25px;
	color: #000;
	font-size: 13px;
	border-top: 0px solid #888; display:block; cursor:pointer; 
	}
.h2 {
	font-size: 18px;
	background: #5e5e51;
	padding: 10px;
	color: #fff;
	border-bottom: 2px solid #888;
}
.p {
	padding: 10px; font-size:12px; line-height:175%; margin-top:0px;
	}
.h1.active {
	background-image:url(../img/common/icon_-.gif);
	background-position:left;
	background-repeat:no-repeat;
	color: #000; display:block; cursor:pointer
	}
.content{font-size:12px; margin-bottom:0px; margin-top:7px; }

.bl{
  background:url(../img/common/cornerblue_bl.gif);
  background-position:0 100%;
  background-repeat:no-repeat;
  width:100%; 
  text-align:left;
  }
.br{
  background:url(../img/common/cornerblue_br.gif);
  background-position:100% 100%;
  background-repeat:no-repeat;
  }
.tl{
  background:url(../img/common/cornerblue_tl.gif);
  background-position:0 0;
  background-repeat:no-repeat;
  }
.tr{
	background:url(../img/common/cornerblue_tr.gif);
	background-position:100% 0;
	background-repeat:no-repeat; 
	padding:10px;
	}
.t{background:url(../img/common/dot.gif);
   background-position:0 0;
   background-repeat:repeat-x; 
   width:100%;
   }
.b{
  background:url(../img/common/dot.gif);
  background-position:0 100%;
  background-repeat:repeat-x;
  }
.l{
  background:url(../img/common/dot.gif);
  background-position:0 0;
  background-repeat:repeat-y;
  }
.r{
  background:url(../img/common/dot.gif);
  background-position:100% 0;
  background-repeat:repeat-y;
  }