@charset "utf-8";
/* CSS Document */

#leftcontainer{
	width:529px;
	height:auto;
	margin:20px 10px 20px 10px;
	padding:0px;
	float:left;
}

#rightcontainer{
	width:434px;
	height:auto;
	margin:20px 0px 20px 10px;
	padding:0px;
	float:left;

}
#bottomcontainer{
	 width:1024px; 
    height:180px; 
    margin:auto;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
	padding-bottom:20px;
    padding-left:0px;  
    background-color:#FFF;
    text-align:left;
    font: 11px "MS PGothic";
    position: relative; clear:both
}
.ppcnumie6{ 
	vertical-align:top !important; 
	padding-top:30px;
	
}
#freeservices{
	margin-top:0px;
	margin-left:10px; 
	margin-right:10px; 
	margin-bottom:20px; 
	width:740px; 
	float:left
}
.h3big
{
	font: bold 20px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho";
	color: #000;
	font-size: 20px;
	letter-spacing:2px;
	font-weight:bold;
	padding-bottom:0px;	
	padding-top:6px;
	padding-left:25px;
	display:block;
	width:720px;
	line-height:18px;
	height:30px;
	background-image:url(../img/ppc/h3big-bg.gif);
	background-position:0% 0%;
	background-repeat:no-repeat;
	border-top:0px solid #cdadb7;
	clear:both;
	margin:0px;
	float: left;
}

/* convinient links */
#convinientlinks{
	margin-left:0px; margin-right:10px; margin-bottom:20px; width:200px; float:right;
}
.top3linkscurve
{
   width:170px; 
   height:140px;
   background-image: url(../img/common/toplinksbg-ie6.gif); background-position:bottom; background-repeat:no-repeat; 
   margin: 0px 0px 0px 0px;
} 

.top3linksContainer
{
    width:160px;
    padding-top: 5px;
    padding-left: 10px;
	padding-right: 0px;
    padding-bottom: 0px; 
    border:0px solid #f4f2f2;
    border-top:0px solid #ccc; 
    text-align: left;
    margin-bottom: 0px;
}

.top3linksContainer .item
{
    height: 24px; width:170px;
    display: block;
    padding-left: 20px;
    background-image: url('../img/common/arrowred.png'); background-repeat:no-repeat; background-position:0px 5px;
    margin-right: 0px; padding-right:0px; letter-spacing:0px;
    cursor: pointer;
    border-bottom: 0px solid #ECECEC; 
    font: 12px/24px "MS PGothic"; 
    color: #444;
}
.top3linksContainer .item:hover
{
  
    height: 25px; width:170px; color: #FFF;  background-image:url(../img/common/arrowred-hover-ie6.png); background-repeat:no-repeat; background-position:0px 0px; font: 12px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold
}


.top3linksContainer .itemcurrent
{
  height: 24px; width:195px;
    display: block;
    padding-left: 20px;
    color: #FFF;  background-image:url(../img/common/arrowred-hover-ie6.png); background-repeat:no-repeat; background-position:0px 0px; font: 12px/24px "MS PGothic";  letter-spacing:0px;  margin-right: 10px; padding-right:10px; font-weight:bold
}
