@charset "shift_jis";
body {font-family:"メイリオ", "MS Mincho"; margin: 0px; margin-bottom: 0px; background-image:url(../img/backgrounds/bg1.png); background-position:0px 0px; background-repeat:repeat }
.vabsmiddle{vertical-align:middle}
*{font-family:Arial, Helvetica, sans-serif;font-style:inherit;font-weight:inherit;margin:0px;padding:0px;}
img{border:none;}
a{text-decoration:none;}
strong {font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif}

/* Header container new */
#headerwrap {	background-color:#fff; padding: 0px; margin:0px; color: #CCC; box-shadow: 0px 0px 10px #8e8e8e;}
#headerwrap .header{ background-color:#fff; margin:0 auto; width:1000px; height:150px;}
.topbar-container{width:960px;height:30px;margin:0 auto;padding:0 0px 0 20px; background-color:none; }
.topbar-container .h1-title{float:left; height:30px; width:53%; font-family:"メイリオ", "MS Mincho"; font-size:10px!important; line-height:30px;letter-spacing:1px; color:#666; font-weight:normal}
.enago-cn-flag{background-image:url("../img/header/flags.png");background-repeat:no-repeat;background-position:-41px 0px; margin-left:5px; margin-right:5px}
.enago-tw-flag{background-image:url("../img/header/flags.png");background-repeat:no-repeat;background-position:0px 0px; margin-left:5px; margin-right:5px}
.enago-tr-flag{background-image:url("../img/index/index-sprite.png");background-repeat:no-repeat;background-position:-116px -67px;margin-left:5px;margin-right:5px}
.enago-en-flag{background-image:url("../img/header/flags.png");background-repeat:no-repeat;background-position:-80px 0px; margin-left:5px; margin-right:5px}
.enago-de-flag{background-image:url("../img/header/flags.png");background-repeat:no-repeat;background-position:-119px 0px; margin-left:5px; margin-right:5px}

#headerContainer{width:980px;padding-right:10px;margin:auto;margin-top:0px;padding-top:00px;height:115px;padding-bottom:5px;padding-left:10px; float:left}
#headerContainer #logo{float:left;display:block;height:68px;width:255px;margin-left:10px;margin-top:10px; background-image:url(../img/header/logo.png); background-position:0px 0px; background-repeat:no-repeat; margin-bottom:5px }
#headerContainer #titleWrapper{height:30px;float:left;width:520px; display:block; line-height:30px; clear:both; margin-top:0px; margin-left:10px;}
#headerContainer  #titleWrapper .titleSlogan{float:left;font-weight:normal;font:normal 16px/30px;font-family:"MS Mincho";color:#000;padding:0px; letter-spacing:1px; display:block; border-top:1px solid #ccc}
#headerContainer #titleWrapper .titleSlogan strong{font-weight:bold; color:#84213f}
.titleSlogan1{font-weight:bold;font:bold 26px/30px;font-family:"MS Mincho";color:#84213f;padding:0px; letter-spacing:2px; padding-top:35px; display:inline-block}
#rightcontainer{ float:right; width:276px; vertical-align:top; }
.fonttext{font-size:12px;font-weight:bold;color:#84213f;display:inline-block;padding:2px;height:15px;margin-top:0px;margin-right:5px;letter-spacing:1px}
.rightlinks{float:left}
.rightlinks a.toplink{text-decoration:underline; color:#2c181a; font:10px "メイリオ" ;font-family:"メイリオ", "MS Mincho"; padding:0px 0px 0px 5px;line-height:16px; margin-right:7px}
.rightlinks a.toplink:hover{text-decoration:none; color:#2c181a}
#rightcontainer .callus{padding:10px}
#rightcontainer #fontsizer{vertical-align:top; margin-top:50px;}


#topbar .country{float:right;}
.menu_class{cursor:pointer;width:113px;background:#fff;padding:0px 0px 0px 0px; }
.anylinkcss{position:absolute;left:0;top:0;visibility:hidden;border:1px solid #999;border-bottom-width:0;line-height:18px;z-index:100;width:92px;}
.anylinkcss ul{margin:0;padding:0;}
.anylinkcss li{background-color:#fff;list-style:none;}
.anylinkcss li a{color:#000;text-decoration:none;display:block;font-size:11px;padding:0px 5px 5px 0px;}
.anylinkcss li a:hover{color:#A50A3A;}
.anylinkshadow{position:absolute;left:0;top:0;z-index:99;background:#000;visibility:hidden;}

/* Top Navigation */
.mainnavigation{margin:0 auto;height:30px;overflow:hidden;width:100%;padding:0px;background:url(../img/index/index-sprite.png) repeat-x 0px -292px;}
.mattblackmenu{margin:0 auto;padding:0;width:1000px}
.mattblackmenu ul{padding:0;margin:0;border-top:1px solid #d24b74;border-right:1px solid #d24b74;border-left:0px solid #d24b74;}
.mattblackmenu li{display:inline;margin:0;text-align:center}
.mattblackmenu li a{float:left;display:block;text-decoration:none;margin:0;color:white;background:url(../img/index/nav-bg.png) repeat-x;height:30px;line-height:30px;text-align:center;font:normal 12px;font-family:"MS Mincho";list-style-type:none;letter-spacing:1px;font-size:14px; padding:0 28px; border-left:2px solid #AC0336; border-right:1px solid #85203F}
.mattblackmenu li a:hover{background:url(../img/index/nav-bg-hover.png) 0 0 repeat-x; height:43px}
.mattblackmenu li a:visited{color:white;}
.mattblackmenu a.selected{background:url(../img/index/nav-bg-hover.png) 0 0 repeat-x;}
.mattblackmenu li a span{font-family:Arial, Helvetica, sans-serif;font-weight:normal}


/* breadcrumb css */
.breadcrumbwrap{width:100%;height:28px;margin:0 auto; border-top:0px #eeeeee solid; display:block; clear:both; background-image:url(../img/navigation/breadcrumbbg.png); background-repeat:repeat-x; background-position:0px 0px }
#breadcrumb{width:1000px;height:28px;margin:0 auto; display:block; clear:both; color:#fff; line-height:28px;font-size:11px; font-family:"メイリオ", "MS Mincho";}
#breadcrumb span{padding-left:20px;}
#breadcrumb a{text-decoration:none;color:#fff;}


/* Content Containers */
#layout-wrapper { margin: 0px auto;	width: 935px;}
#topanimcontainer{overflow: hidden; border: 1px solid #ccc; margin:10px 0px 10px 0px; height:308px; background-color:#f8faec; padding:0px}
#columns-wrapper {  background:url(../img/backgrounds/column-bg-index.png); background-repeat:repeat-y; background-position:0px 0px; overflow: hidden; border: 0px solid #151515; border-top: none; margin:10px 0px 0px 0px; height:1000 }
#leftcontainer { float: left; width: 250px; padding: 10px 0px 0px 5px; font-size: 12px;  border-radius: 4px 4px 4px 4px; border:1px solid #ccc; margin-left:0px; background-image:url(../img/backgrounds/leftcontainerbg.png); background-repeat:repeat-y; background-position:0px 0px; height:2661px; }
#maincontentcontainer { float: left; width: 650px; margin-left:0px; margin-right:10px;  font-size: 14px;  margin-top:0px; border:1px solid #ccc;height:2661px; }
.inner-bottom-bg{height:1px; background-color:#fff}
#innerdiv{float: left; margin: 0 0 0; padding:20px 10px 10px 10px; width: 610px;background-image: url(../img/backgrounds/innerdiv-bg-index.png); background-position:10px 5px; background-repeat: no-repeat; background-color:#FFF }
.inner-bottom-bg img{margin-left:0px}
#floatMenu {position:absolute; top:228px; left:50%; margin-left:454px;width:33px; display:none; visibility:hidden}
#gototop{display:block; margin-bottom:20px; margin-top:0px;  padding:0px; background-color:none; height:40px; width:935px; margin:0 auto; text-align:right; background-image:none }
#gototop img{ margin-right:45px}


/*======== Left banners css ==================*/
.notice{background-image:url(../img/index/notice.png); width:250px; height:99px; display:block;margin-bottom:13px; margin-left:0px; clear:both;}
.noticetext{font:12px "メイリオ", "MS PGothic", "MS Mincho";color:#313131;line-height:18px;letter-spacing:1px; padding:32px 10px 2px 10px; display:block;}


.discountbanner{clear:both;width:250px;margin-bottom:10px;}
.bannerContainer3{clear:both;width:248px;margin-bottom:5px; border:1px solid #dedbdb }
.bannerContainer3:hover{clear:both;width:248px;margin-bottom:5px; border:1px solid #aea9a9}
.rightbanner-sprite{ background-image:url(../img/sidebar/sidebar-banners-sprite.png); background-repeat:no-repeat;}
.isobanner{background-position:0px 2px;width:250px;height:65px;margin-top:-4px;margin-bottom:9px;}
.redherringbanner{background-position:0px -60px;width:250px;height:60px;margin-bottom:-1px}
.bannerContainer3 .materialgoldbanner{background-position:-1px -131px; width:248px; height:58px;}
.bannerContainer3 .interviewbanner{background-position:-1px -196px; width:248px; height:58px;}
.bannerContainer3 .subjectareabanner{background-position:-1px -262px; width:248px; height:58px;}
.bannerContainer3 .conferencesbanner{background-position:-1px -328px; width:248px; height:58px;}
.bannerContainer3 .acceptedpapersbanner{background-position:-1px -393px; width:248px; height:58px;}
.beginnerbanner{background-position:0px -548px; width:250px; height:78px; margin-bottom:10px}

.bannerContainer4{clear:both;width:250px;margin-bottom:20px; margin-top:40px; border:0px solid #dedbdb; }
.paymentsbanner{background-position:0px -467px; width:250px; height:40px;}

.blogContainer{clear:both;width:248px;margin-top:20px; border:1px solid #ccc; background-color:#FFF }
.blogContainer .title{font:normal 28px "MS PMincho";color:#000; font-size:28px; font-weight:bold;letter-spacing:4px; display:block; height:40px; margin:10px 10px 10px 10px; width:224px; clear:both; }
.blogContainer .title a{font:normal 28px "MS PMincho";color:#000; font-size:28px; font-weight:bold; text-decoration:none; line-height:50px; }
.blogContainer .title a:hover{ color:#057fd7}
.blogContainer .content{margin:0px 10px 0px 10px; width:234px; clear:both; }
ul.bloglist{margin:0px; padding:0px; margin-left:0px; margin-bottom:0px; margin-top:0px; clear:both;}
ul.bloglist li{list-style-image:none;list-style-type:none;list-style-position:outside;font:12px "メイリオ";font-family:"メイリオ", "MS Mincho";color:#057fd7; padding-left:15px;margin-bottom:10px;vertical-align:top;margin-top:0px;clear:both; line-height:18px; letter-spacing:0px; padding-right:10px}
.feedburnerFeedBlock{padding:0px 0 0px 0;border-bottom:0px solid #820026;border-left:0px solid #e3e3e3;border-right:0px solid #e3e3e3;border-top:0px solid #800025;height:auto;}
.feedburnerFeedBlock ul{margin:0px; padding:0px; margin-left:0px; margin-bottom:0px; margin-top:0px; clear:both;}
.feedburnerFeedBlock ul li{list-style-image:none;list-style-type:none;list-style-position:outside;font:12px "メイリオ";font-family:"メイリオ", "MS Mincho";color:#057fd7; padding-left:15px;margin-bottom:10px;vertical-align:top;margin-top:0px;clear:both; line-height:18px; letter-spacing:0px; padding-right:10px}
.feedTitle{ display:none; visibility:hidden}
.feedTitle a{color:#057fd7; text-decoration:underline}
.feedTitle a:visited{color:#057fd7; text-decoration:underline}
.feedTitle a:hover{color:#057fd7; text-decoration:none}
.feedTitle img{display:none;visibility:hidden;}
.headline{font:12px "メイリオ";font-family:"メイリオ", "MS Mincho";color:#111111; }
.headline a{color:#111111; text-decoration:underline}
.headline a:visited{color:#111111; text-decoration:underline}
.headline a:visited:hover{text-decoration:none;height:15px;padding-left:3px;padding-right:3px;margin:0px;color:#111111;}
.headline a:hover{color:#111111; text-decoration:none}
.date{ color:#9b2649; font-size:10px; }
.fbsubscribelink{display:none;visibility:hidden;}
#creditfooter{display:none;visibility:hidden;}

.testimonialContainer{clear:both;width:248px;margin-top:20px; border:1px solid #ccc; background-color:#FFF; background-image: url(../img/sidebar/testimonials-image.png) ; background-repeat:no-repeat; background-position:50% 100%;  }
.testimonialContainer .title{font:normal 28px "MS PMincho";color:#000; font-size:28px; font-weight:bold;letter-spacing:5px; display:block; height:40px; margin:10px 5px 0px 5px; width:234px; clear:both; text-align:center; height:60px;}
.testimonialContainer .title a{font:normal 28px "MS PMincho";color:#000; font-size:28px; font-weight:bold; text-decoration:none;  }
.testimonialContainer .title a:hover{ color:#057fd7}
.testimonialContainer .title a.testimoniallink{color:#057fd7; text-decoration:underline; font:12px "メイリオ","MS PGothic", "MS Mincho"; letter-spacing:1px}
.testimonialContainer .title a.testimoniallink:hover{ text-decoration:none}
.testimonialContainer .content{margin:0px 0px 0px 0px; width:234px; clear:both; height:360px; }
.testimonialquoteText{font:12px "メイリオ", "MS Mincho";color:#444444;line-height:16px;padding:5px 0px 0px 10px; letter-spacing:1px}
.testimonialname{PADDING-RIGHT:0px;PADDING-LEFT:0px;FONT-WEIGHT:bold;PADDING-BOTTOM:10px;COLOR:#9b2649;font-size:12px;PADDING-TOP:0px;TEXT-ALIGN:right}
.designation{FONT-WEIGHT:normal;COLOR:#9b2649;font-size:12px;}


.payment{clear:both;width:250px;margin-bottom:10px; margin-left:0px; margin-top:30px}
.paymentbannerLink{color:#000; text-decoration:underline}
.payment .title{display:block; height:50px; margin:0px 0px 10px 10px; width:234px; clear:both; }
.payment .content{margin:0px 10px 0px 10px; width:234px; clear:both; text-align:center }
.payment-qt{font:12px "メイリオ", "MS Mincho";color:#444444;padding: 0px 0px 0px 0px; letter-spacing:1px; font-weight:bold; text-align:center;}
.payment-que{FONT-WEIGHT:normal;COLOR:#000;font-size:12px;"メイリオ", "MS Mincho"; letter-spacing:1px; padding:0px 5px 5px 0px; }
.payment-imagediv{align:center; width:234px; text-align:center; display:block; margin-top:10px; padding: 2px 0px 8px 0px;}
.payment-img{background-image:url(../img/sprite/index-card.png); background-repeat:no-repeat; background-position:-37px 0px; width:226px; height:41px; margin-right:0px; vertical-align:middle; margin-left:10px }


/* Main Content  */
.mainIntroductionText{font:12px "メイリオ", "MS Mincho";width:630px;color:#313131;line-height:20px;margin-left:0px;margin-right:0px;margin-bottom:30px; padding:0px; letter-spacing:1px; clear:both; }
.commonPara{
	font:12px "メイリオ", "MS Mincho";
	width:630px;
	color:#313131;
	line-height:20px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:30px;
	padding:0px;
	letter-spacing:1px;
	clear:both;
}
.h2Normal{
	background-image:url("../img/index/h3-bg.png");
	background-position:0% 100%;
	background-repeat:no-repeat;
	font:32px "メイリオ";
	font-family:"メイリオ", "MS PGothic", "MS Gothic";
	width:630px;
	height:36px;
	color:#84213f;
	line-height:36px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:20px;
	margin-top:20px;
	padding:10px 0 0;
	text-indent:0px;
	letter-spacing:1px;
	clear:both;
	display:block;
	font-weight:normal;
	padding-bottom:10px
}

.h2-news{background-image:url("../img/index/h3-bg.png"); background-position:0% 100%; background-repeat:no-repeat; font:14px "メイリオ"; font-family:"メイリオ", "MS PGothic", "MS Gothic"; width:630px; height:22px; color:#84213f;line-height:18px;margin-left:0px;margin-right:0px;margin-bottom:20px;margin-top:12px; padding:0px; text-indent:0px; letter-spacing:1px; clear:both; display:block; font-weight:bold; padding-bottom:0px }

.txt12{font-family:"メイリオ","MS PGothic", "MS Mincho";font-size:12px;line-height:18px;}
.brd1{ border:1px solid #ccc; border-radius: 4px 4px 4px 4px; }
.brd1shadow{ border:1px solid #f8f8f8; border-radius: 4px 4px 4px 4px; -moz-box-shadow: 0px 1px 3px 1px #ccc; -webkit-box-shadow: 0px 1px 3px 1px #ccc; box-shadow: 0px 1px 3px 1px #ccc;  }
.aligncenter{text-align:center}
.ulBasic{margin-bottom:10px;}
.ulBasic li{background-image: url(../img/header/toplinkseperator.png) ;background-position:0px 8px;background-repeat:no-repeat;list-style-image:none;list-style-type:none;list-style-position:outside;font:12px/20px "メイリオ", "MS Mincho"; font-family:"メイリオ", "MS Mincho";padding-left:10px;margin-bottom:0px;vertical-align:top;clear:both}

#enagoexperiance{
	width:630px;
	padding:0px;
	margin:20px 0px 40px;
	display:block;
	clear:both;
	height:360px;
}
#enagoexperiance .samplediv{ float:left; width:310px; margin-right:10px; margin:0px; padding:0px;}
#enagoexperiance .journaldiv{float:left; width:310px; margin:0px; padding:0px;}

h3.h3Normal{background-image:url("../img/common/h3-bg.png"); background-position:0% 0%; background-repeat:no-repeat; font:18px "メイリオ"; font-family:"メイリオ", "MS PGothic", "MS Gothic"; width:300px; height:36px; color:#84213f;line-height:36px;margin-left:0px;margin-right:0px;margin-bottom:20px;margin-top:0px; padding:0px; text-indent:35px; letter-spacing:1px; clear:both; font-weight:bold }
p.content{font:12px "メイリオ", "MS Mincho";color:#313131; line-height:20px;margin-left:10px;margin-right:0px;margin-bottom:20px; padding:0px; letter-spacing:1px; }
.clearboth{clear:both}
.aligncenter{text-align:center}
.alignright{text-align:center}
.marb20{margin-bottom:20px;}
.floatRight{float:right}
.mart10{margin-top:10px;}
.marR10{margin-right:10px;}
.marL10{margin-left:10px;}
.mart30{margin-top:20px;}
#strength1{display:block; margin:0px; padding:0px; height:230px; width:630px; background-image:url(../img/index/strength1-bg.png); background-repeat:no-repeat; background-position:0px 0px;}
#strength2{display:block; margin:0px; padding:0px; height:230px; width:630px; background-image:url(../img/index/strength2-bg.png); background-repeat:no-repeat; background-position:0px 0px;}
#strength3{display:block; margin:0px; padding:0px; height:230px; width:630px; background-image:url(../img/index/strength3-bg.png); background-repeat:no-repeat; background-position:0px 0px;}

h3.h3strengths{font:32px "メイリオ"; font-family:"メイリオ", "MS Mincho"; width:330px; height:60px; color:#000;margin-left:0px;margin-right:0px;margin-bottom:10px; padding:0px; text-indent:60px; letter-spacing:1px; clear:both; font-weight:normal; display:block; line-height:60px;}
p.strentthdesc{font:12px "メイリオ", "MS Mincho";color:#313131; line-height:20px;margin-left:10px;margin-right:0px;margin-bottom:20px; padding:0px; letter-spacing:1px; width:270px; margin-left:60px }

.planstable{
	border:1px solid #ccc;
	margin-top:0px;
}
.planstable td.tophead{font:24px "メイリオ", "MS Mincho"; color:#000; font-weight:normal; height:56px; line-height:56px; letter-spacing:1px; text-align:center; background-color:#edecec}
.planstable td.pricehead{font:34px "MS Mincho"; color:#8b2f4b; font-weight:bold; height:75px; padding:10px 10px 0px 10px}
.planstable td.pricehead span.txtbig{font:40px Arial, Helvetica, sans-serif ; color:#8b2f4b; font-weight:normal; padding-left:10px; letter-spacing:0px}
.planstable td.pricehead2{font:44px "MS Mincho"; color:#8b2f4b; font-weight:bold; height:75px; padding:10px 10px 0px 10px}
.planstable td.pricehead2 span.txtbig{font:52px Arial, Helvetica, sans-serif ; color:#8b2f4b; font-weight:normal; padding-left:10px; letter-spacing:0px}
.planstable td.normalhead{font:24px "MS Mincho"; color:#fff; font-weight:bold; height:40px; line-height:40px; text-align:center; width:300px; background-image:url(../img/index/serviceheads-bg.png); background-repeat:repeat-x; background-position:0 0}
.planstable td.advancehead{font:24px "MS Mincho"; color:#ffce7a; font-weight:bold; height:40px; line-height:40px; text-align:center; width:300px; background-image:url(../img/index/serviceheads-bg.png); background-repeat:repeat-x; background-position:0 0}
.planstable td.tabletext{font:12px "メイリオ", "MS Mincho"; color:#313131;line-height:20px;padding-top:10px; letter-spacing:1px; width:290px; padding-left:10px; padding-bottom:10px;}
.planstable td.tabletextred{font:10px "メイリオ", "MS Mincho"; color:#fff;line-height:16px;letter-spacing:1px; width:300px; background-image:url(../img/index/tabletext-red-bg.png); background-repeat:no-repeat; background-position:7px 0px; text-indent:25px; }
.readmore-plantable{ height:19px; margin:0px 0px 20px 0px; vertical-align:top; width:630px; text-align:right}
a.contentlink:visited{color:#057fd7; text-decoration:underline}
a.contentlink:hover{color:#057fd7; text-decoration:none}
a.contentlink{color:#057fd7; text-decoration:underline;  font-family:"メイリオ", "MS Mincho"; }

dl.newslist{font:12px "メイリオ", "MS Mincho"; color:#000; letter-spacing:1px; width:630px;}
dl.newslist dt {font:12px "メイリオ", "MS Mincho"; clear: left; float: left; width:100px; padding-top:0.4em; padding-left: 5px; }
dl.newslist dd{font:12px "メイリオ", "MS Mincho"; margin-left: 100px; padding-top:0.4em; }
dl.newslist dd strong{font:12px "メイリオ", "MS Mincho"; font-weight:bold;}
/* quotation callus banner */

#quotation-callus-banner{ display:block; float:left; clear:both; width:400px; height:296px; background-color:#fff; margin:20px 0px 20px 0px; border:1px solid #f8f8f8; border-radius: 4px 4px 4px 4px; -moz-box-shadow: 0px 1px 3px 1px #ccc; -webkit-box-shadow: 0px 1px 3px 1px #ccc; box-shadow: 0px 1px 3px 1px #ccc; }
#quotation-callus-banner .inner{display:block; float:left; clear:both; width:580px; height:240px; background-color:#fff; margin:14px; border:0px solid #fff; padding:0px}
#quotation-callus-banner .inner .autoquotebutton{ background-image:url(../img/common/quotation-callus-banner.png); background-repeat:no-repeat; background-position:0px 0px; height:35px; width:274px}
#quotation-callus-banner .inner .autoquotebutton:hover{background-position:0px -246px; }
#quotation-callus-banner .inner .questionbutton{background-image:url(../img/common/quotation-callus-banner.png); background-repeat:no-repeat; background-position:-298px 0px; height:35px; width:274px; margin-left:20px}
#quotation-callus-banner .inner .questionbutton:hover{background-position:-297px -246px;}
#quotation-callus-banner .inner .quotationbutton{background-image:url(../img/common/quotation-callus-banner.png); background-repeat:no-repeat; background-position: 0px -40px; height:81px; width:571px; margin-top:5px}
#quotation-callus-banner .inner .quotationbutton:hover{background-position: 0px -286px}
#quotation-callus-banner .inner .callus{background-image:url(../img/common/quotation-callus-banner.png); background-repeat:no-repeat; background-position: -1px -136px; height:104px; width:570px; }
.inner .buttons{width:100%; float:left;}
.inner .banner{width:100%; float:left;  margin-top:16px}


/* Footer container */
#footerwrap{color:#000000;background-color:#e0dcdd;padding:0px 0px 0px 0px;font-size:12px;box-shadow:0px 8px 10px 5px #8e8e8e;margin-bottom:0px;font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
#footerwrap .footerContainer{background-color:#e0dcdd;margin:0 auto;width:1000px;height:375px;padding:0px 0px}
.footertoplinks{height:30px;width:980px;margin-left:0px;margin-top:10px;margin-bottom:0px;text-align:center;color:#bfbbbc;line-height:30px;font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footertoplinks a{text-decoration:none;color:#000;font-size:11px;letter-spacing:1px;font-family:"メイリオ", "MS Mincho";padding:0px 5px}
.footertoplinks a:hover{text-decoration:underline}
#footerListContainer{display:block;height:120px;width:100%;margin-left:0px;padding-top:10px;padding-left:0px;}
#footerLogos{display:block;height:80px;width:980px;margin-left:0px;margin-top:10px;padding-top:10px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;text-align:center;padding-left:00px;background-color:#FFF}
#footerLogos .leftlogos{float:left;width:48%;padding-left:10px;text-align:left;height:50px}
#footerLogos .rightlogos{float:right;width:48%;text-align:right;padding-right:20px;height:50px;margin-top:0px}
.footerlogotext{font-size:10px;color:#000000;letter-spacing:0px; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerlogotext a{font-size:10px;color:#000000;text-decoration:none; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerlogotext a:hover{font-size:10px;color:#000000;text-decoration:underlinel; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerlogotextsmall{font-size:10px;color:#000000;letter-spacing:0px; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerlogotextsmall a{font-size:10px;color:#000000;text-decoration:none; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerlogotextsmall a:hover{font-size:10px;color:#000000;text-decoration:underline; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
a.righttext{font:10px "メイリオ", "MS Mincho";color:#000;}
/*
.footerList{width:420px;padding-left:0px;margin:10px 10px 0 10px; text-align:left; display:inline-block; height:110px;  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
*/
.footerTitleSpan{color:#84213f;font-size:12px;font-weight:bold; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerList1{width:450px;padding-left:20px;margin-right:10px; text-align:left;display:inline-block;height:110px;float:left; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
.footerList1 p {margin-top:10px; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
/*
.footerList1 ul{padding-left:0px;margin-left:0px;margin-right:20px;margin-top:10px;margin-bottom:0px;padding-bottom:0px;}
.footerList1 li{color:#000000;font-size:11px;font-family:"メイリオ", "MS Mincho";letter-spacing:0px;list-style-type:none;list-style-position:outside;margin-bottom:5px;margin-left:0px;padding-left:0px;}
.footerList1 li a.generalLink{color:#000000;font-size:11px;font-family:"メイリオ", "MS Mincho";letter-spacing:0px;text-decoration:none}
.footerList1 li a.generalLink:hover{text-decoration:underline}
.footerList1 li a.footerLink{text-decoration:underline;color:#000000;font-size:11px;font-family:"メイリオ", "MS Mincho";}
.footerList1 li a.footerLink:hover{color:#aaa;}
*/
.footerList2{padding-left:10px;margin-right:10px; text-align:left;display:inline-block;height:110px;float:left;}

/*
.footerList2 ul{padding-left:0px;margin-left:0px;margin-right:5px;margin-top:10px;margin-bottom:0px;padding-bottom:0px;}
.footerList2 li{color:#000000;font-size:10px;list-style-type:none;list-style-position:outside;margin-bottom:5px;margin-left:0px;padding-left:0px;}
*/
.footerList3{padding-left:10px;margin-right:10px; text-align:left;display:inline-block;height:110px;float:left;}
.footerList4{width:980px; clear:both; margin:10px 0 10px 20px; text-align:left; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}

.footerLink{text-decoration:none;color:#000000;}
.footerLink:hover{color:#aaa;}

.footerCopyright{color:#777475;font:normal 9px "メイリオ", "MS Mincho";font-family:"メイリオ","MS Mincho";margin-top:0px;padding:0px 20px 0px 0px;letter-spacing:0px;width:960px;display:block;text-align:left}
.footerCopyright a{color:#777475;text-decoration:none}
.footerCopyright a:hover{color:#000;text-decoration:none}
.sprite{background-image:url(../img/footer/footer-sprite.png);}
.iso{background-position:-117px -128px;width:55px;height:46px;margin-left:20px;margin-right:20px;margin-top:3px;margin-bottom:3px;}
.verisign{background-position:-176px -128px;width:82px;height:38px;margin-left:7px;margin-right:6px;margin-top:7px;margin-bottom:7px;}
.enagologo{background-position:-16px -273px;width:112px;height:22px;margin-left:9px;margin-right:9px;margin-top:7px;margin-bottom:6px;}
.voxtablogo{background-position:-119px -239px;width:111px;height:28px;margin-left:10px;margin-right:9px;margin-top:4px;margin-bottom:3px;}
.ulatuslogo{background-position:-3px -239px;width:114px;height:29px;margin-left:8px;margin-right:8px;margin-top:3px;margin-bottom:3px;}
.maruzen{background-position:-138px -267px;width:130px;height:30px;}
.nri{background-position:-4px -334px;width:130px;height:30px;}
.dnp{background-position:-4px -300px;width:130px;height:30px;}
.nhk{background-position:-138px -300px;width:130px;height:30px; margin-bottom:10px;}
.validlogo{background-position:-138px -334px;width:88px;height:31px;}
.rotator{background:#f8faec;width:933px;height:308px;position:relative;text-transform:uppercase;letter-spacing:-1px;overflow:hidden;}
.rotator ul{background:url(../img/index/slider/background.png) 0px 0px no-repeat;list-style:none;position:absolute;left:0px;top:0px;padding-top:150px;z-index:999999;height:308px;}
.rotator ul li{display:block;float:left;clear:both;width:360px;padding-left:100px;}
.rotator ul li a{width:400px;float:right;clear:both;text-decoration:none;border:none;padding-left:15px;display:block;height:41px;line-height:41px;background:url(../img/index/slider/thumbbg.png);background-repeat:no-repeat;margin:1px 40px 1px 0px;}
.rotator .heading{position:absolute;top:0px;left:0px;width:500px;}
#con-main{position:relative;width:935px;margin:auto;}
.con-p{position:absolute;width:630px;color:#313131;font:12px/20px "メイリオ","MS Mincho";letter-spacing:1px;top:559px;*top:510px;left:10px;}
.marTH{margin-top:160px;}
.h1-home{color:#666666;float:left;font-family:"メイリオ","MS Mincho";font-size:10px !important;font-weight:normal;height:30px;letter-spacing:1px;line-height:30px;width:53%;position:absolute;top:0;left:-7px;}
ul.nodecoration{
	list-style-type: none;
	margin-left:100px;
}