/*! responsive-nav.js 1.0.23 by @viljamis */
.nav-collapse ul { margin: 0; padding: 0; width: 100%; display: block; list-style: none; }
.nav-collapse li { width: 100%; display: block; }
.js .nav-collapse { clip: rect(0 0 0 0); max-height: 0; position: absolute; display: block; overflow: hidden; zoom: 1; }
.nav-collapse.opened { max-height: 9999px; width:100%; z-index:9999; }
.nav-toggle { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; 
user-select: none; display:block; background:url(../images/responsive/collepse.png) 60px 4px no-repeat; width:110px; height:40px; font-size:14px; color:#FFF; text-transform:uppercase; line-height:40px; float:right; }

@media screen and (min-width: 40em) {
 .js .nav-collapse { position: relative; }
 .js .nav-collapse.closed { max-height: none; }
 .nav-toggle { display: none; }
}

/************ responsive style for content *********** */

img.resp { width:100%; height:auto; }

@media (min-width: 120px) and (max-width: 620px) {
#stickyfooter,.topbar-container,.breadcrumbwrap,#leftcontainer,#floatMenu  { display:none; }
#headerwrap .header,#layout-wrapper,.commonIntroductionText,.h3Normal,.checkLine,#headerContainer,.header-inner,#headerContainer #titleWrapper,#footerwrap .footerContainer,.footertoplinks,#footerLogos .leftlogos,.beginnertable,.tableBasic { width:100%; } 

.mainnavigation { background:url(../images/responsive/nav-bg.png) bottom repeat-x; min-height:43px; height:auto; position:relative }
.mattblackmenu { height:auto; }
.mattblackmenu ul { padding:0;margin-top:0px;border-top:1px solid #d24b74;border:none 0;margin-left:0px }
.mattblackmenu li { display:block;margin:0;text-align:left;border:none 0; }
.mattblackmenu li a { float:none;display:block;background:url(../images/responsive/nav-bg.png) 0 0 repeat-x;height:29px;width:auto;line-height:30px;text-align:left; padding:5px 20px;}
.mattblackmenu li a:hover { background:#000; height:auto; }
.mattblackmenu li a:visited{color:white;}
.mattblackmenu a.selected{background:url(../images/responsive/nav-bg.png) 0 0 repeat-x;}
.mobileHome { display:block; position:absolute; background:url(../images/responsive/home-icon.png) 0 0 no-repeat; width:28px; height:25px; text-indent:-9999px; top:8px; left:10px; }

#columns-wrapper { background:none; }
#maincontentcontainer { margin: 0 10px; width: 94%; background:#fff url(../img/backgrounds/maincontentcontainerbg.png) -2px -2px no-repeat; border:1px solid #ccc; }

.commonPageTitle { font-size:22px; }
#innerdiv { width:94%; background:none; min-height:inherit; }

.quotation-callus-banner { width:99%; margin:20px 0; height:288px; }
.quotation-callus-banner .inner { width:93%; margin:10px; }
.quotation-callus-banner .inner .autoquotebutton, .quotation-callus-banner .inner .autoquotebutton:hover { background:url(../images/responsive/quotation-callus-banner.png) 0 0 no-repeat; }
.quotation-callus-banner .inner .questionbutton,.quotation-callus-banner .inner .questionbutton:hover { background:url(../images/responsive/quotation-callus-banner.png) 0 -45px no-repeat; margin:5px 0 0 0; }
.quotation-callus-banner .inner .quotationbutton, .quotation-callus-banner .inner .quotationbutton:hover { background:url(../images/responsive/quotation-callus-banner.png) 0 -89px no-repeat; height:60px; }
.quotation-callus-banner .inner .callus, .quotation-callus-banner .inner .callus:hover { background:url(../images/responsive/quotation-callus-banner.png) 0 -170px no-repeat; width:260px; }
.con-p2 { padding-bottom:15px; }

#gototop { width:100%; background:none; }
#footerwrap .footerContainer,.footertoplinks,.footerList1 { height:auto; }
.footerList1 { padding:0 0 10px 10px;  }
#footerLogos,.footerList1,.footerList4,.footerCopyright { width:90%; }
#footerLogos { margin:15px auto; height:350px;}
.footerCopyright { margin-left:10px; }
#footerLogos .leftlogos { padding:0; float:none; height:auto; text-align:center; margin-bottom:15px; }
#footerLogos .rightlogos { padding:0; float:none; height:auto; text-align:center; }
.footerLogoMobile { margin-left:75px; }
.beginnertable { border:1px solid #CCC; }
.beginnertable td { padding:10px; text-align:center; }
.beginnertable td.tophead { vertical-align:top; font-size:17px; }
.beginnertable td.normalhead,.beginnertable td.advancehead { line-height:inherit; height:auto; font-size:16px; }
.mi-stamp-normal,.mi-stamp-advance { float:none; margin:10px auto; }
.space20 { width: 0; padding: 0 !important; border-left: 1px solid #FFF; }
.leftlogos table td a img { margin:0 8px; }
}

@media (max-width: 400px) {
.beginnertable,.tableBasic,.footerLogoDesk { display:none; }
.beginnertable.Mobile { display:block; }

.beginnertable.Mobile { border:1px solid #ccc; text-align:center; }
.beginnertable.Mobile td { padding:10px; height:auto; line-height:normal; }
.beginnertable.Mobile td.tophead { font-size:18px; }
.mi-stamp-normal,.mi-stamp-advance { margin:10px auto; }
a.banner-fee-n-tat,a.banner-fee-n-tat:hover { background:url(../images/responsive/fee-n-tat-banner.jpg) 0 0 no-repeat; width:275px; margin:0; }
a.banner-subject-area,a.banner-subject-area:hover { background:url(../images/responsive/fee-n-tat-banner.jpg) -1px -57px no-repeat; width:275px; margin:0; }
.checkLine { background:url(../images/responsive/check-point.jpg) 0 0 no-repeat; height:auto; }
.checkLine p { width:auto; border-bottom: 1px dashed #999; display: inline; padding-bottom:5px; line-height:30px; }
.but-pad { padding: 104px 0 0 0; margin-bottom:20px; }
}

@media (min-width: 120px) and (max-width: 500px) {
#rightcontainer { display:none; }
.mobileLeft,.footerLogoMobile { display:block; }
#headerwrap .header { height:160px; }
#headerContainer { padding:0; margin:0 auto; }
#headerContainer #logo { float:none; margin:10px auto; }
.header-inner span { font-size:12px; width: 100%; text-align: center; padding: 10px 0; }
#headerContainer #titleWrapper { margin:0; }
#headerContainer #titleWrapper p { float:none; text-align:center; font-size:12px; }
.quotation-callus-banner .inner .quotationbutton { width:260px; }
.ulBasic4 { margin:10px 0 0 0; }
a.banner-subject-area { margin-right:20px; }
.but-pad a { background:url(../img/editing-services/check-point.png) -189px -17px no-repeat; }
}

@media (min-width: 450px) and (max-width: 500px) {
.but-pad a { margin:0 0 2px -15px; }
.quotation-callus-banner .inner { float:none; width:260px; margin:10px auto; }
.mobileLeft { border:0 none; }
.mobileLeft a { display:block; text-align:center; } .mobileLeft div { margin:5px auto; }
.footerLogoMobile { display:none; }
#footerLogos { height:150px; }
#footerLogos .rightlogos { float:left; width:100%; }
#maincontentcontainer { width:96%; }
}

@media (min-width: 600px) and (max-width: 768px) {
#maincontentcontainer { background:#fff url(../img/backgrounds/maincontentcontainerbg.png) -2px -18px no-repeat; width:97%; background-size:838px; }
.topbar-container,.planstable { display:block; }
.topbar-container .h1-title { display:none; }
.topbar-container { padding:0; }
#layout-wrapper,#headerContainer #titleWrapper,.topbar-container,#headerContainer { width:100%; }
#headerContainer { padding:0; }
#headerContainer #titleWrapper { margin-top:10px; }
#rightcontainer .callus { padding-top:45px; }
.header-inner span { font-size:12px; margin-left:18px;}
#headerContainer #logo { float:none; }
#headerwrap .header { height:200px; }
.header-inner { padding:0; width:315px; }
.header-inner span { padding-top:15px; }
#headerContainer #titleWrapper p { font-size:12px; }
.aligncenter a { width:260px; height:54px; margin:0; }
.aligncenter a.banner-fee-n-tat { background:url(../images/responsive/fee-n-tat-banner-600.jpg) 0 0 no-repeat;  }
.aligncenter a.banner-subject-area { background:url(../images/responsive/fee-n-tat-banner-600.jpg) -264px 0 no-repeat; margin-left:5px;  }

.quotation-callus-banner .inner { width:100%; }
.inner .buttons a img { width:268px !important; }
.quotation-callus-banner { width:560px; margin:20px 0 10px; height:250px; }
.quotation-callus-banner .inner { width:100%; margin:5px 0; }
.quotation-callus-banner .inner .quotationbutton { width:554px !important; height:80px !important; }
.quotation-callus-banner .inner .callus { width:554px !important; height:105px !important; }
.inner .buttons,.inner .banner { text-align:inherit; }
.quotation-callus-banner .inner .autoquotebutton, .quotation-callus-banner .inner .autoquotebutton:hover { background:url(../img/common/quotation-callus-banner-600.jpg) 0 0 no-repeat;margin-left:2px }
.quotation-callus-banner .inner .questionbutton,.quotation-callus-banner .inner .questionbutton:hover { background:url(../img/common/quotation-callus-banner-600.jpg) -288px -1px no-repeat; margin-left:13px; }
.quotation-callus-banner .inner .quotationbutton, .quotation-callus-banner .inner .quotationbutton:hover { background:url(../img/common/quotation-callus-banner-600.jpg) 0 -45px no-repeat; height:60px; }
.quotation-callus-banner .inner .callus, .quotation-callus-banner .inner .callus:hover { background:url(../img/common/quotation-callus-banner-600.jpg) 0 -135px no-repeat; width:260px; }
#footerLogos { height:180px; }
#footerLogos .rightlogos { width:100%; }
.footerLogoDesk { float:left; margin:10px 0 0 58px; }
}

@media (min-width: 750px) and (max-width: 850px) {
#headerwrap .header,.topbar-container,#headerContainer,.commonIntroductionText,.beginnertable,.h3Normal,.checkLine,#breadcrumb { width:100%; }
.h1-title,#stickyfooter,#floatMenu { display:none; } 
#layout-wrapper { width:744px; padding:0 10px; }
#maincontentcontainer { width:455px; border-right:#ccc 1px solid; }
.topbar-container { padding:0; }
.header-inner { width:475px; float:left; }
.header-inner span { width:175px; font-size:14px; line-height:20px;}
#headerContainer #logo { margin-left:0; }
#headerContainer #titleWrapper { width:450px; }
#rightcontainer { float:left; }

.mattblackmenu li a { width:112px; }
#innerdiv { width:435px; }
.beginnertable { border:1px solid #CCC; }
.beginnertable td { padding:10px; text-align:center; }
.beginnertable td.tophead { vertical-align:top; font-size:17px; }
.beginnertable td.normalhead,.beginnertable td.advancehead { line-height:inherit; height:auto; font-size:16px; }
.mi-stamp-normal,.mi-stamp-advance { float:none; margin:10px auto; }
.space20 { width: 0; padding: 0 !important; border-left: 1px solid #FFF; }
.leftlogos table td a img { margin:0 8px; }
.tableBasic { width:100%; margin:0; }
a.banner-subject-area { width:308px;}

.quotation-callus-banner .inner,#footerwrap .footerContainer,.footertoplinks { width:100%; }
.inner .buttons a img { width:215px !important; }
.quotation-callus-banner { width:435px; margin:20px 0 10px; height:250px; }
.quotation-callus-banner .inner { width:100%; margin:5px 0; }
.quotation-callus-banner .inner .quotationbutton { width:435px !important; height:60px !important; }
.quotation-callus-banner .inner .callus { width:430px !important; height:105px !important; }
.inner .buttons,.inner .banner { text-align:inherit; }
.quotation-callus-banner .inner .autoquotebutton, .quotation-callus-banner .inner .autoquotebutton:hover { background:url(../images/responsive/quotation-callus-banner-768.jpg) 0 0 no-repeat; }
.quotation-callus-banner .inner .questionbutton,.quotation-callus-banner .inner .questionbutton:hover { background:url(../images/responsive/quotation-callus-banner-768.jpg) -220px 0 no-repeat; margin-left:0; }
.quotation-callus-banner .inner .quotationbutton, .quotation-callus-banner .inner .quotationbutton:hover { background:url(../images/responsive/quotation-callus-banner-768.jpg) 0 -49px no-repeat; height:60px; }
.quotation-callus-banner .inner .callus, .quotation-callus-banner .inner .callus:hover { background:url(../images/responsive/quotation-callus-banner-768.jpg) 0 -120px no-repeat; width:260px; }
#gototop { width:738px; }
.footerList1,.footerList4,.footerCopyright { width:97%; margin-left:10px; padding-left:0; }
#footerLogos { width:100%; height:100px; }
.footerlogotext a,.footerlogotext a:hover { font-size:8px; }
}

@media (min-width: 820px) and (max-width: 1000px) { .mattblackmenu li a { width:135px; } }
@media (min-width: 600px) and (max-width: 10000px) { .con-p img, .con-p2 img{ display:none } }

