.ddsubmenustyle, .ddsubmenustyle ul{font:normal 12px/20px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho";margin:0;letter-spacing:2px;padding:0;height:32px;position:absolute;left:0;top:0;list-style-type:none;background:white;border:1px solid #292929;border-bottom-width:0;visibility:hidden;z-index:800;}
.ddsubmenustyle li a{display:block;width:200px;color:#fff;background-color:#333;text-decoration:none;padding:4px 5px;border-bottom:1px solid #292929;}
* html .ddsubmenustyle li{display:inline-block;width:210px;}
.ddsubmenustyle li a:hover{background-color:#84213f;color:white;}
.downarrowpointer{padding-left:4px;border:0;}
.rightarrowpointer{position:absolute;padding-top:3px;left:100px;border:0;}
.ddiframeshim{position:absolute;z-index:500;background:transparent;border-width:0;width:0;height:0;display:block;}
.mainnavigation{margin:0 auto;height:30px;overflow:hidden;width:100%;padding:0px;background:url(../img/index/index-sprite.png) repeat-x 0px -292px;}
.mattblackmenu{margin:0 auto;padding:0;width:1000px}
.mattblackmenu ul{padding:0;margin:0;border-top:1px solid #d24b74;border-right:1px solid #d24b74;border-left:0px solid #d24b74;}
.mattblackmenu li{display:inline;margin:0;text-align:center}
.mattblackmenu li a{float:left;display:block;text-decoration:none;margin:0;color:white;background:url(../img/index/nav-bg.png) repeat-x;height:30px;line-height:30px;text-align:center;font:normal 12px;font-family:"MS Mincho";list-style-type:none;letter-spacing:1px;font-size:14px; padding:0 28px; border-left:2px solid #AC0336; border-right:1px solid #85203F}
.mattblackmenu li a:hover{background:url(../img/index/nav-bg-hover.png) 0 0 repeat-x; height:43px}
.mattblackmenu li a:visited{color:white;}
.mattblackmenu a.selected{background:url(../img/index/nav-bg-hover.png) 0 0 repeat-x;}
.mattblackmenu li a span{font-family:Arial, Helvetica, sans-serif;font-weight:normal}
