@charset "utf-8";
/* CSS Document */
.h3NXL
{
    font: bold 20px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho";
    color: #000; font-size: 20px;  letter-spacing:2px; font-weight:bold;
	padding-bottom:15px; margin-bottom:10px; padding-top:3px; padding-left:30px; 
	display:block; width:735px; line-height:18px; height:30px; background-image:url(../img/newclient/h3bg-x.png); background-position:0% 0%; background-repeat:no-repeat; border-top:0px solid #cdadb7; clear:both; margin:0}

.h3XL
{
    font: bold 14px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho"; 
    color: #000; font-size: 14px;  letter-spacing:2px; font-weight:bold;
	padding-bottom:15px; margin-bottom:10px; padding-top:5px; padding-left:30px; 
	display:block; width:750px; line-height:18px; height:30px; background-image:url(../img/newclient/h2XL_bg.png); background-position:0% 0%; background-repeat:no-repeat; border-top:0px solid #cdadb7; clear:both; margin:0}

.box1{
	background-color:#FFF;  border-right:#550d21 solid 1px;  border-left:#550d21 solid 1px;  border-bottom:#550d21 solid 1px;  border-top:#550d21 solid 0px; height:83px; padding:5px;}
.boxtext{font: normal 12px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho"; vertical-align:top; padding:5px; letter-spacing:2px; line-height:150%; padding-left:10px;
}
.boxtext .readmore{
	float:right; display:inline; margin:0px; padding:0px;
}
.box_l {
	width: 365px;
	border: 1px solid #cccccc;
	float: left;
	margin-bottom:15px;
	padding: 3px;
}

.box_r {
	width: 355px;
	border: 1px solid #cccccc;
	float: left; margin-left:10px;

	margin-bottom:15px;
	padding: 3px;
}

.box_3 {
	width: 360px;
	border-bottom: 1px dashed #E8E8E8;
	float: left;
	margin-bottom:15px;
	padding: 3px;
}

.box_r3 {
	width: 360px;
	border-bottom: 1px dashed #E8E8E8;
	float: right;
	margin-bottom:15px;
	padding: 3px;
}
.h2_opt3 {

	font: bold 14px "MS PGothic";
	margin-bottom: 5px; clear:right;
	padding-left: 20px; background-image:url(../img/common/squere/6x6enago.png); background-position:0% 50%; background-repeat:no-repeat;
}

.h2_opt3 a:link {
	color: #84213f;; text-decoration:none
}

.h2_opt3 a:hover {
	color: #000;
	text-decoration:underline;
}

.h2_opt3 a:visited {
	color: #84213f;; text-decoration:none
}

.h2_opt3 a:visited:hover {
	color: #000;
	text-decoration:underline;
}

.marR10{margin-right:10px;}

.h2_opt {
	background: #FCFCFC url("../img/newclient/h2_bg.jpg") repeat-x left bottom;
	font: bold 14px "MS PGothic"; display:block;
	line-height:170%;
	margin-bottom: 10px;
	clear: both; 
}

.h2_opt {
	border-left: 4px solid #84213f;
	padding-left: 10px;
}

.h2_opt a:link {
	color: #000000; text-decoration:underline;  
}

.h2_opt a:hover {
	color: #84213f;
	text-decoration:none;
}

.h2_opt a:visited {
	color: #000000; text-decoration:underline
}

.h2_opt a:visited:hover {
	color: #84213f;
	text-decoration:none;
}
.boxText
{
    font: 12px "MS PGothic";
	font-family:Verdana, Arial, Helvetica, sans-serif;
    color: #000;
	line-height: 175%;
	
}
.left_pict_b20{
	float:left;
	margin-bottom:20px;
	margin-right:10px;
	display:block;
}

.left_pict_r10{
	float:left;
	margin-right:10px;
	border:#999 1px solid; padding:3px; margin-bottom:10px;
}

.left_pict_b0{
	float:left;
	margin-bottom:00px;
	margin-right:10px;
	display:block;
}
.clear {
	clear: both;
	margin: 0px;
	padding: 0px;
	height: 0px;
}


.box_2 {
	width: 365px; 
	border-top: 3px solid #842140;
	border-left: 3px solid #842140;
	border-right: 3px solid #842140;
	border-bottom: 3px solid #842140;
	margin-right:10px;

	float: left;
	margin-bottom:5px;
	padding: 0px; background: #fff url(../img/newclient/box2textbg.gif); background-repeat:no-repeat; background-position:0% 100%; 
}

.box_2 .boxText
{font: 12px "MS PGothic";  line-height: 175%;  display:block; padding-top:0px; margin:0px 2px 2px 2px; margin-top:0px; padding-left:90px; 	
	border-top: 0px solid #72051f;
	border-left: 0px solid #72051f;
	border-right: 0px solid #72051f;
	border-bottom: 0px solid #72051f; }

.box_2 h2
{	background: url("../img/newclient/h3_bg.jpg") repeat-x left top;
	font: bold 22px "MS PGothic"; height:43px; 
	padding: 0px 0px 0px 0px;
	margin-bottom: 0px; color:#FFF;
	clear: both;  }

.box_2 h2 a:link {
	color: #fff; text-decoration:none
}

.box_2 h2 a:hover {
	color: #fff;
	text-decoration:none;
}

.box_2 h2 a:visited {
	color: #fff; text-decoration:none
}

.box_2 h2 a:visited:hover {
	color: #fff;
	text-decoration:none;
}
.ulBasicbox
{
    margin-bottom: 0px; border: 0px solid #efeeee; padding:5px; margin-top:0px; margin-left:80px; 
}

.ulBasicbox li
{
    background-image: url('../img/common/squere/6x6black.gif');
    background-position: 0px 6px;
    background-repeat: no-repeat;
    list-style-image: none;
    list-style-type:none; 
    list-style-position:outside;
    font: 12px/14px "MS PGothic";
    padding-left: 15px;
    margin-bottom: 5px; line-height:175%;
	vertical-align:top; margin-top:0px;
}

.box_2_1 {
	width: 360px;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin-right:10px;

	float: left;
	margin-bottom:5px;
	padding: 1px; background: #fff url("../img/newclient/enago-logo.png"); background-repeat:no-repeat; background-position:95% 100%;
}

.box_2_1 h2
{	background: #FCFCFC url("../img/newclient/h2_bg.jpg") repeat-x left bottom;
	font: bold 14px "MS PGothic"; height:25px;
	padding: 0px 5px 5px 5px;
	margin-bottom: 10px;
	clear: both;}

.box_2_1 h2 a:link {
	color: #000000; text-decoration:none
}

.box_2_1 h2 a:hover {
	color: #84213f;
	text-decoration:none;
}

.box_2_1 h2 a:visited {
	color: #000000; text-decoration:none
}

.box_2_1 h2 a:visited:hover {
	color: #84213f;
	text-decoration:none;
}
.box_2_1 .rdbtn{float:right; margin-right:10px; margin-bottom:5px; margin-top:10px;}
.box_2_1 .boxText
{font: 12px "MS PGothic"; font-family:Verdana, Arial, Helvetica, sans-serif; color: #000; line-height: 175%;  display:block}

/* reason 1 */
.box_2 .boxText .item1{ height: 24px; width:170px; margin-left:10px; display: block;  padding-left: 60px; background-image: url('../img/newclient/reason1.png'); background-repeat:no-repeat; background-position:0px 5px; margin-right: 0px; padding-right:0px; letter-spacing:0px; cursor: pointer; border-bottom: 0px solid #ECECEC; font: 13px/24px "MS PGothic"; color: #444; font-weight:bold}
.box_2 .boxText .item1:hover{ width:195px; background-image: url('../img/newclient/reason1-hover.png'); background-repeat:no-repeat; background-position:0px 5px; font: 13px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold}

/* reason 2 */
.box_2 .boxText .item2{ height: 24px; width:170px; margin-left:10px; display: block;  padding-left: 60px; background-image: url('../img/newclient/reason2.png'); background-repeat:no-repeat; background-position:0px 5px; margin-right: 0px; padding-right:0px; letter-spacing:0px; cursor: pointer; border-bottom: 0px solid #ECECEC; font: 13px/24px "MS PGothic"; color: #444; font-weight:bold}
.box_2 .boxText .item2:hover{ width:195px; background-image: url('../img/newclient/reason2-hover.png'); background-repeat:no-repeat; background-position:0px 5px; font: 13px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold}

/* reason 3 */
.box_2 .boxText .item3{ height: 24px; width:170px; margin-left:10px; display: block;  padding-left: 60px; background-image: url('../img/newclient/reason3.png'); background-repeat:no-repeat; background-position:0px 5px; margin-right: 0px; padding-right:0px; letter-spacing:0px; cursor: pointer; border-bottom: 0px solid #ECECEC; font: 13px/24px "MS PGothic"; color: #444; font-weight:bold}
.box_2 .boxText .item3:hover{ width:195px; background-image: url('../img/newclient/reason3-hover.png'); background-repeat:no-repeat; background-position:0px 5px; font: 13px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold}

/* reason 4 */
.box_2 .boxText .item4{ height: 24px; width:170px; margin-left:10px; display: block;  padding-left: 60px; background-image: url('../img/newclient/reason4.png'); background-repeat:no-repeat; background-position:0px 5px; margin-right: 0px; padding-right:0px; letter-spacing:0px; cursor: pointer; border-bottom: 0px solid #ECECEC; font: 13px/24px "MS PGothic"; color: #444; font-weight:bold}
.box_2 .boxText .item4:hover{ width:195px; background-image: url('../img/newclient/reason4-hover.png'); background-repeat:no-repeat; background-position:0px 5px; font: 13px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold}

/* reason 1 */
.box_2 .boxText .item5{ height: 24px; width:170px; margin-left:10px; display: block;  padding-left: 60px; background-image: url('../img/newclient/reason5.png'); background-repeat:no-repeat; background-position:0px 5px; margin-right: 0px; padding-right:0px; letter-spacing:0px; cursor: pointer; border-bottom: 0px solid #ECECEC; font: 13px/24px "MS PGothic"; color: #444; font-weight:bold}
.box_2 .boxText .item5:hover{ width:195px; background-image: url('../img/newclient/reason5-hover.png'); background-repeat:no-repeat; background-position:0px 5px; font: 13px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold}

/* reason 1 */
.box_2 .boxText .item6{ height: 24px; width:170px; margin-left:10px; display: block;  padding-left: 60px; background-image: url('../img/newclient/reason6.png'); background-repeat:no-repeat; background-position:0px 5px; margin-right: 0px; padding-right:0px; letter-spacing:0px; cursor: pointer; border-bottom: 0px solid #ECECEC; font: 13px/24px "MS PGothic"; color: #444; font-weight:bold}
.box_2 .boxText .item6:hover{ width:195px; background-image: url('../img/newclient/reason6-hover.png'); background-repeat:no-repeat; background-position:0px 5px; font: 13px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold}



.servicesbg-small{background-image:url(../img/newclient/servicesbg-small.png); background-repeat:no-repeat; background-position:0% 0%;
display:inline-block; width:240px; height:154px; padding:0; margin-right:10px; float:left}
.servicesbg-small h3{
	font: bold 14px "MS PGothic"; height:25px;	padding: 8px 3px 0px 30px; margin-bottom: 10px; clear: both; color:#000; letter-spacing:2px;}
	
.servicesbg-small h3 a{font: bold 14px "MS PGothic"; color:#000; text-decoration:none}
.servicesbg-small h3 a:hover{font: bold 14px "MS PGothic"; color:#000; text-decoration:underline}	
	
.servicesbg-small .text{font: 12px "MS PGothic"; color: #000; line-height: 150%; margin:0px 5px 5px 10px; height:80px;}

.servicesbg-small .img{ border:#CCC 0px solid; margin:0px 5px 5px 5px; float:right; padding:1px;}

.servicesbg-small .rdbtn{float:right; margin-right:5px; margin-bottom:5px; height: 19px; width:108px;}


.servicesbg-big{background-image:url(../img/newclient/servicesbg-big.png); background-repeat:no-repeat; background-position:0% 0%;
display:inline-block; width:365px; height:129px; padding:0; float:left; margin-top:10px; margin-right:10px;}
.servicesbg-big h3{
	font: bold 14px "MS PGothic"; height:25px;	padding: 8px 3px 0px 30px; margin-bottom: 10px; clear: both; color:#000; letter-spacing:2px;}
.servicesbg-big h3 a{font: bold 14px "MS PGothic"; color:#000; text-decoration:none}
.servicesbg-big h3 a:hover{font: bold 14px "MS PGothic"; color:#000; text-decoration:underline}		
.servicesbg-big .text{font: 12px "MS PGothic"; color: #000; line-height: 150%; margin:0px 5px 5px 10px; height:80px;}

.servicesbg-big .img{ border:#CCC 0px solid; margin:0px 5px 5px 5px; float:right; padding:1px;}

.servicesbg-big .rdbtn{float:right; margin-right:5px; margin-bottom:5px; margin-top:17px; height: 19px; width:108px;}
.servicesbg-big .rdbtn2{float:right; margin-right:5px; margin-bottom:5px; margin-top:5px; height: 19px; width:108px; display:block}
.servicesbg-big .rdbtn1{float:right; margin-right:5px; margin-bottom:5px; margin-top:0px; height: 19px; width:108px;}



.newoffer{background-image:url(../img/newclient/newclientofferbg.gif); background-repeat:no-repeat; background-position:0% 0%;
display:inline-block; width:370px; height:143px; padding:0; float:left; margin-top:0px; margin-right:0px; margin-left:0px}
.newoffer h3 {font: bold 14px "MS PGothic"; height:30px; font-weight:bold; padding: 10px 3px 0px 55px; margin-bottom: 10px; clear: both; color:#84213f; letter-spacing:2px; line-height: 150%;}	
.newoffer h3 a{color:#84213f; text-decoration:none}
.newoffer h3 a:hover{color:#84213f; text-decoration:underline}
.newoffer .text{font: 12px/24px "MS PGothic"; color: #444; font-weight:bold; line-height: 200%; margin:40px 5px 5px 40px; height:50px;  }


.samplebg-small{background-image:url(../img/newclient/sample-bg.gif); background-repeat:no-repeat; background-position:0% 0%;
display:inline-block; width:363px; height:143px; padding:0; margin-right:0px; float:left}
.samplebg-small h3{
	font: bold 14px "MS PGothic"; height:25px;	padding: 8px 3px 0px 30px; margin-bottom: 10px; clear: both; color:#000; letter-spacing:2px;}
.samplebg-small h3 a{font: bold 14px "MS PGothic"; color:#000; text-decoration:none}
.samplebg-small h3 a:hover{font: bold 14px "MS PGothic"; color:#000; text-decoration:underline}
.samplebg-small .text{font: 12px/24px "MS PGothic"; color: #000;  line-height: 175%; margin:0px 10px 0px 15px; height:50px;}

.samplebg-small .rdbtn{float:right; margin-right:10px; margin-bottom:5px;}
.top{font: 9px "MS PGothic"; color: #444;}

.ht160{height: 160px;}
.gototop{  position:relative; float:left; text-align:right; 
    color: #aaa; letter-spacing:0px;
    font: normal 10px "MS PGothic"; 
    margin-top: 0px; 
    bottom:5px;  width:735px;}