@charset "utf-8";
/* CSS Document */
.h3NXL
{
    font: bold 20px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho";
    color: #000; font-size: 20px;  letter-spacing:2px; font-weight:bold;
	padding-bottom:15px; margin-bottom:10px; padding-top:3px; padding-left:30px; 
	display:block; width:725px; line-height:18px; height:30px; background-image:url(../img/newclient/h3bg-x.png); background-position:0% 0%; background-repeat:no-repeat; border-top:0px solid #cdadb7; clear:both; margin:0}

.h3XL
{
    font: bold 14px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho"; 
    color: #000; font-size: 14px;  letter-spacing:2px; font-weight:bold;
	padding-bottom:15px; margin-bottom:10px; padding-top:5px; padding-left:30px; 
	display:block; width:725px; line-height:18px; height:30px; background-image:url(../img/newclient/h2XL_bg.png); background-position:0% 0%; background-repeat:no-repeat; border-top:0px solid #cdadb7; clear:both; margin:0}

.box1{
	background-color:#FFF;  border-right:#550d21 solid 1px;  border-left:#550d21 solid 1px;  border-bottom:#550d21 solid 1px;  border-top:#550d21 solid 0px; height:100px; padding:5px; width:360px; display:block; overflow:hidden}
.boxtext{font: normal 12px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho"; vertical-align:top; padding:5px; letter-spacing:2px; line-height:150%; padding-left:5px;
}
.boxtext .readmore{
	float:right; display:inline; margin:0px; padding:0px;
}
.box_l {
	width: 360px;
	border: 1px solid #cccccc;
	float: left;
	margin-bottom:15px;
	padding: 3px;
}

.box_r {
	width: 355px;
	border: 1px solid #cccccc;
	float: left; margin-left:10px;

	margin-bottom:15px;
	padding: 3px;
}

.box_3 {
	width: 360px;
	border-bottom: 1px dashed #E8E8E8;
	float: left;
	margin-bottom:15px;
	padding: 3px;
}

.box_r3 {
	width: 360px;
	border-bottom: 1px dashed #E8E8E8;
	float: right;
	margin-bottom:15px;
	padding: 3px;
}
.h2_opt3 {

	font: bold 14px "MS PGothic";
	margin-bottom: 5px; clear:right; font-weight:bold;
	padding-left: 20px; background-image:url(../img/common/squere/6x6enago.png); background-position:0% 50%; background-repeat:no-repeat;
}

.h2_opt3 a:link {
	color: #84213f;; text-decoration:none
}

.h2_opt3 a:hover {
	color: #000;
	text-decoration:underline;
}

.h2_opt3 a:visited {
	color: #84213f;; text-decoration:none
}

.h2_opt3 a:visited:hover {
	color: #000;
	text-decoration:underline;
}

.marR10{margin-right:10px;}
.marR10ie6{margin-right:10px;}
.h2_opt {
	background: #FCFCFC url("../img/newclient/h2_bg.jpg") repeat-x left bottom;
	font: bold 14px "MS PGothic"; display:block;
	line-height:170%;
	margin-bottom: 10px;
	clear: both; 
}

.h2_opt {
	border-left: 4px solid #84213f;
	padding-left: 10px;
}

.h2_opt a:link {
	color: #000000; text-decoration:underline;  
}

.h2_opt a:hover {
	color: #84213f;
	text-decoration:none;
}

.h2_opt a:visited {
	color: #000000; text-decoration:underline
}

.h2_opt a:visited:hover {
	color: #84213f;
	text-decoration:none;
}
.boxText
{
    font: 12px "MS PGothic";
	font-family:Verdana, Arial, Helvetica, sans-serif;
    color: #000;
	line-height: 175%;
	
}
.left_pict_b20{
	float:left;
	margin-bottom:20px;
	margin-right:10px;
	display:block;
}

.left_pict_r10{
	float:left;
	margin-right:10px;
	border:#999 1px solid; padding:3px; margin-bottom:10px;
}

.left_pict_b0{
	float:left;
	margin-bottom:00px;
	margin-right:10px;
	display:block;
}
.clear {
	clear: both;
	margin: 0px;
	padding: 0px;
	height: 0px;
}


.box_2 {
	width: 365px; 
	border-top: 3px solid #842140;
	border-left: 3px solid #842140;
	border-right: 3px solid #842140;
	border-bottom: 3px solid #842140;
	margin-right:10px;

	float: left;
	margin-bottom:5px;
	padding: 0px; background: #fff url(../img/newclient/box2textbg.gif); background-repeat:no-repeat; background-position:0% 100%; 
}

.box_2 .boxText
{font: 12px "MS PGothic";  line-height: 175%;  display:block; padding-top:0px; margin:0px 2px 2px 2px; margin-top:0px; padding-left:90px; 	
	border-top: 0px solid #72051f;
	border-left: 0px solid #72051f;
	border-right: 0px solid #72051f;
	border-bottom: 0px solid #72051f; }

.box_2 h2
{	background: url("../img/newclient/h3_bg.jpg") repeat-x left top;
	font: bold 22px "MS PGothic"; height:43px; 
	padding: 0px 0px 0px 0px;
	margin-bottom: 0px; color:#FFF;
	clear: both;  }

.box_2 h2 a:link {
	color: #fff; text-decoration:none
}

.box_2 h2 a:hover {
	color: #fff;
	text-decoration:none;
}

.box_2 h2 a:visited {
	color: #fff; text-decoration:none
}

.box_2 h2 a:visited:hover {
	color: #fff;
	text-decoration:none;
}
.ulBasicbox
{
    margin-bottom: 0px; border: 0px solid #efeeee; padding:5px; margin-top:0px; margin-left:80px; 
}

.ulBasicbox li
{
    background-image: url('../img/common/squere/6x6black.gif');
    background-position: 0px 6px;
    background-repeat: no-repeat;
    list-style-image: none;
    list-style-type:none; 
    list-style-position:outside;
    font: 12px/14px "MS PGothic";
    padding-left: 15px;
    margin-bottom: 5px; line-height:175%;
	vertical-align:top; margin-top:0px;
}

.box_2_1 {
	width: 360px; 
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin-right:0px;
	float: left;
	margin-bottom:5px;
	padding: 1px; background: #fff url("../img/newclient/enago-logo.png"); background-repeat:no-repeat; background-position:95% 100%;
}

.box_2_1 h2
{	background: #FCFCFC url("../img/newclient/h2_bg.jpg") repeat-x left bottom;
	font: bold 14px "MS PGothic"; height:25px;
	padding: 0px 5px 5px 5px;
	margin-bottom: 10px;
	clear: both;}

.box_2_1 h2 a:link {
	color: #000000; text-decoration:none
}

.box_2_1 h2 a:hover {
	color: #84213f;
	text-decoration:none;
}

.box_2_1 h2 a:visited {
	color: #000000; text-decoration:none
}

.box_2_1 h2 a:visited:hover {
	color: #84213f;
	text-decoration:none;
}
.box_2_1 .rdbtn{float:right; margin-right:10px; margin-bottom:5px; margin-top:10px;}
.box_2_1 .boxText
{font: 12px "MS PGothic"; font-family:Verdana, Arial, Helvetica, sans-serif; color: #000; line-height: 175%;  display:block}

/* reason 1 */
.box_2 .boxText .item1{ height: 24px; width:170px; margin-left:10px; display: block;  padding-left: 60px; background-image: url('../img/newclient/reason1.png'); background-repeat:no-repeat; background-position:0px 5px; margin-right: 0px; padding-right:0px; letter-spacing:0px; cursor: pointer; border-bottom: 0px solid #ECECEC; font: 13px/24px "MS PGothic"; color: #444; font-weight:bold}
.box_2 .boxText .item1:hover{ width:195px; background-image: url('../img/newclient/reason1-hover.png'); background-repeat:no-repeat; background-position:0px 5px; font: 13px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold}

/* reason 2 */
.box_2 .boxText .item2{ height: 24px; width:170px; margin-left:10px; display: block;  padding-left: 60px; background-image: url('../img/newclient/reason2.png'); background-repeat:no-repeat; background-position:0px 5px; margin-right: 0px; padding-right:0px; letter-spacing:0px; cursor: pointer; border-bottom: 0px solid #ECECEC; font: 13px/24px "MS PGothic"; color: #444; font-weight:bold}
.box_2 .boxText .item2:hover{ width:195px; background-image: url('../img/newclient/reason2-hover.png'); background-repeat:no-repeat; background-position:0px 5px; font: 13px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold}

/* reason 3 */
.box_2 .boxText .item3{ height: 24px; width:170px; margin-left:10px; display: block;  padding-left: 60px; background-image: url('../img/newclient/reason3.png'); background-repeat:no-repeat; background-position:0px 5px; margin-right: 0px; padding-right:0px; letter-spacing:0px; cursor: pointer; border-bottom: 0px solid #ECECEC; font: 13px/24px "MS PGothic"; color: #444; font-weight:bold}
.box_2 .boxText .item3:hover{ width:195px; background-image: url('../img/newclient/reason3-hover.png'); background-repeat:no-repeat; background-position:0px 5px; font: 13px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold}

/* reason 4 */
.box_2 .boxText .item4{ height: 24px; width:170px; margin-left:10px; display: block;  padding-left: 60px; background-image: url('../img/newclient/reason4.png'); background-repeat:no-repeat; background-position:0px 5px; margin-right: 0px; padding-right:0px; letter-spacing:0px; cursor: pointer; border-bottom: 0px solid #ECECEC; font: 13px/24px "MS PGothic"; color: #444; font-weight:bold}
.box_2 .boxText .item4:hover{ width:195px; background-image: url('../img/newclient/reason4-hover.png'); background-repeat:no-repeat; background-position:0px 5px; font: 13px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold}

/* reason 1 */
.box_2 .boxText .item5{ height: 24px; width:170px; margin-left:10px; display: block;  padding-left: 60px; background-image: url('../img/newclient/reason5.png'); background-repeat:no-repeat; background-position:0px 5px; margin-right: 0px; padding-right:0px; letter-spacing:0px; cursor: pointer; border-bottom: 0px solid #ECECEC; font: 13px/24px "MS PGothic"; color: #444; font-weight:bold}
.box_2 .boxText .item5:hover{ width:195px; background-image: url('../img/newclient/reason5-hover.png'); background-repeat:no-repeat; background-position:0px 5px; font: 13px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold}

/* reason 1 */
.box_2 .boxText .item6{ height: 24px; width:170px; margin-left:10px; display: block;  padding-left: 60px; background-image: url('../img/newclient/reason6.png'); background-repeat:no-repeat; background-position:0px 5px; margin-right: 0px; padding-right:0px; letter-spacing:0px; cursor: pointer; border-bottom: 0px solid #ECECEC; font: 13px/24px "MS PGothic"; color: #444; font-weight:bold}
.box_2 .boxText .item6:hover{ width:195px; background-image: url('../img/newclient/reason6-hover.png'); background-repeat:no-repeat; background-position:0px 5px; font: 13px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold}



.servicesbg-small{background-image:url(../img/newclient/servicesbg-small.png); background-repeat:no-repeat; background-position:0% 0%;
display:inline-block; width:240px; height:154px; padding:0; margin-right:5px; float:left}
.servicesbg-small h3{
	font: bold 14px "MS PGothic"; height:25px;	padding: 8px 3px 0px 30px; margin-bottom: 10px; clear: both; color:#000; letter-spacing:2px;}
	
.servicesbg-small h3 a{font: bold 14px "MS PGothic"; color:#000; text-decoration:none}
.servicesbg-small h3 a:hover{font: bold 14px "MS PGothic"; color:#000; text-decoration:underline}	
	
.servicesbg-small .text{font: 12px "MS PGothic"; color: #000; line-height: 150%; margin:0px 5px 5px 10px; height:80px;}
.ls1{letter-spacing:1px}

.servicesbg-small .img{ border:#CCC 0px solid; margin:0px 5px 5px 5px; float:right; padding:1px;}

.servicesbg-small .rdbtn{float:right; margin-right:5px; margin-bottom:5px; height: 19px; width:108px;}


.servicesbg-big{background-image:url(../img/newclient/servicesbg-big.png); background-repeat:no-repeat; background-position:0% 0%;
display:inline-block; width:365px; height:129px; padding:0; float:left; margin-top:10px; margin-right:5px;}
.servicesbg-big h3{
	font: bold 14px "MS PGothic"; height:25px;	padding: 8px 3px 0px 30px; margin-bottom: 10px; clear: both; color:#000; letter-spacing:2px;}
.servicesbg-big h3 a{font: bold 14px "MS PGothic"; color:#000; text-decoration:none}
.servicesbg-big h3 a:hover{font: bold 14px "MS PGothic"; color:#000; text-decoration:underline}		
.servicesbg-big .text{font: 12px "MS PGothic"; color: #000; line-height: 150%; margin:0px 5px 5px 10px; height:80px;}

.servicesbg-big .img{ border:#CCC 0px solid; margin:0px 5px 5px 5px; float:right; padding:1px;}

.servicesbg-big .rdbtn{float:right; margin-right:5px; margin-bottom:5px; margin-top:17px; height: 19px; width:108px;}
.servicesbg-big .rdbtn2{float:right; margin-right:5px; margin-bottom:5px; margin-top:5px; height: 19px; width:108px; display:block}
.servicesbg-big .rdbtn1{float:right; margin-right:5px; margin-bottom:5px; margin-top:0px; height: 19px; width:108px;}



.newoffer{background-image:url(../img/newclient/newclientofferbg.gif); background-repeat:no-repeat; background-position:0% 0%;
display:inline-block; width:370px; height:143px; padding:0; float:left; margin-top:0px; margin-right:0px; margin-left:0px}
.newoffer h3 {font: bold 14px "MS PGothic"; height:30px; font-weight:bold; padding: 10px 3px 0px 55px; margin-bottom: 10px; clear: both; color:#84213f; letter-spacing:2px; line-height: 150%;}	
.newoffer h3 a{color:#84213f; text-decoration:none}
.newoffer h3 a:hover{color:#84213f; text-decoration:underline}
.newoffer .text{font: 12px/24px "MS PGothic"; color: #444; font-weight:bold; line-height: 200%; margin:40px 5px 5px 40px; height:50px;  }


.samplebg-small{background-image:url(../img/newclient/sample-bg.gif); background-repeat:no-repeat; background-position:0% 0%;
display:inline-block; width:363px; height:143px; padding:0; margin-right:0px; float:left}
.samplebg-small h3{
	font: bold 14px "MS PGothic"; height:25px;	padding: 8px 3px 0px 30px; margin-bottom: 10px; clear: both; color:#000; letter-spacing:2px;}
.samplebg-small h3 a{font: bold 14px "MS PGothic"; color:#000; text-decoration:none}
.samplebg-small h3 a:hover{font: bold 14px "MS PGothic"; color:#000; text-decoration:underline}
.samplebg-small .text{font: 12px/24px "MS PGothic"; color: #000;  line-height: 175%; margin:0px 10px 0px 15px; height:50px;}

.samplebg-small .rdbtn{float:right; margin-right:10px; margin-bottom:5px;}
.top{font: 9px "MS PGothic"; color: #444;}


/* styles from ie6.css */
@charset "utf-8";
/* CSS Document */

/* -------------------------------------------------------------- 
Standardised Internet Explorer 6 stylesheet:
-------------------------------------------------------------- */

html, 			body, 
div,			span, 
object, 		iframe, 
h1, h2, h3, h4, h5, h6, 
p, 				blockquote, 
pre, 			a, 
abbr, 			acronym, 
address, 		code, 
del, 			dfn, 
em, 			img, 
q, 				dl, 
dt, 			dd, 
ol, 			ul, 
li, 			fieldset, 
form, 			label, 
legend, 		table, 
caption, 		tbody, 
tfoot, 			thead, 
tr, 			th, td { 
margin : 0; 
padding : 0; 
border : 0; 
font-weight : inherit; 
font-style : inherit; 
font-size : 100%; 
font-family : inherit; 
vertical-align : baseline; }

/* Body ---------------------------------------------------- */

body {
width : 100% ;

/* http://www.cameronmoll.com/archives/000892.html */
width : expression(document.body.clientWidth < 640? "640px" : document.body.clientWidth > 120? "120em" : "auto");
margin : 0 auto;
padding : 0em 0;
font : 88% "MS PGothic";
line-height : 1.4;
color : #333; }

/* Headings ---------------------------------------------------- */



h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { 
margin : 0; }

/* Text elements -------------------------------------------------------------- */



a img {
border : none; }

blockquote, q {
quotes : "" ""; }

blockquote { 
margin : 1.5em 1.5em 1.5em -1.5em;
padding-left : 1.5em;
border-left : 1px solid #666;
font : italic 1.2em "MS PGothic"; }

blockquote:before, blockquote:after, q:before, q:after { 
content : ""; }

strong { 
font-weight : bold; }

em, dfn { 
font-style : italic; }

dfn { 
font-weight : bold; }

sup, sub { 
line-height : 0; }

abbr, acronym { 
border-bottom : 1px dotted #666; }

address {
margin : 0 0 1.5em;
font-style : italic; }

del { 
color : #666; }

pre, code, tt {
margin : 1.5em 1.5em 1.5em -1.5em;
padding-left : 1.5em;
border-left : 1px dotted #666;
font : 1em 'andale mono', 'lucida console', monospace;
line-height : 1.5; }

pre { 
white-space : pre; }

code { 
display : block; }


/* Lists -------------------------------------------------------------- */


/* Tables -------------------------------------------------------------- */

table {
border-collapse : separate; 
border-spacing : 0;
margin-bottom : 1.4em;
width : 100%; }

table, td, th { 
vertical-align : top; }

th, thead th {
font-weight : bold; }


th, td, caption {
padding : 0px; 
text-align : left; 
font-weight : normal; }

th, td {
border-bottom : 0px solid #ccc; }

tfoot { 
font-size : .9em; }

caption {
margin-bottom : 1em;
font-size : 1.5em;
line-height : 1 ; }




/* for sidebar and navigation */

.contentSectionTitleWhite
{
   display:block; width:190px; 
   height:25px;
   padding-left: 10px; padding-top:6px; 
   background-image:url(../img/common/left-nav-top.png); background-position:0% 0%; background-repeat:no-repeat; 
   color:#fff;
   text-align: left;
   border-left: 0px solid #eee;
   border-top: 0px solid #ddd;
   border-right: 0px solid #eee;
   border-bottom: 0px solid #ddd;
    font: bold 16px "MS PGothic";
	text-transform:capitalize; color:#fff;
  	margin: 0px 0px 0px 0px
    
}  

.sidebarLinkPanelContainer
{
    width:180px;
    padding-top: 0px;
    padding-left: 0px;
	padding-right: 0px;
    padding-bottom: 0px; 
    border:0px solid #ccc;
    border-top:0px solid #ccc; 
    background-color: #FFF;
    text-align: left;
    margin-bottom: 0px;
}

.sidebarLinkPanelContainer .item
{
    height: 24px; width:180px;
    display: block;
	text-indent:0px;
    background-image: url('../img/common/squere/6x6enago.png'); background-repeat:no-repeat; background-position:0px 5px;
    margin-right: 0px; padding-right:0px; letter-spacing:0px;
    cursor: pointer;
    border-bottom: 1px solid #ECECEC; 
    font: 12px/24px "MS PGothic"; 
    color: #444;
}
.sidebarLinkPanelContainer .item:hover
{
  
    height: 25px; width:180px; color: #FFF;  background-image:url(../img/navigation/bx1-hover-ie6.png); background-repeat:no-repeat; background-position:0px 0px; font: 12px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold
}


.sidebarLinkPanelContainer .itemcurrent
{
  height: 24px; width:180px;
    display: block;
    text-indent:0px;
    color: #FFF;  background-image:url(../img/navigation/bx1-hover-ie6.png); background-repeat:no-repeat; background-position:0px 0px; font: 12px/24px "MS PGothic";  letter-spacing:0px;  margin-right: 0px; padding-right:0px; font-weight:bold
}

.sidebarLinkPanelContainer .itemdouble
{
    height: 48px; width:180px;
    display: block;
     text-indent:0px;
    background-image: url('../img/common/squere/6x6enago.png'); background-repeat:no-repeat; background-position:0px 5px;
    margin-right: 0px; padding-right:0px; letter-spacing:0px;
    cursor: pointer;
    border-bottom: 1px solid #ECECEC; 
    font: 12px/24px "MS PGothic"; 
    color: #444;
}
.sidebarLinkPanelContainer .itemdouble:hover
{
  
    height: 49px; width:180px; color: #FFF;  background-image:url(../img/navigation/bx1-hover-double.png); background-repeat:no-repeat; background-position:0px 0px; font: 12px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; 
}


.sidebarLinkPanelContainer .itemdoublecurrent
{
  height: 24px; width:180px;
    display: block;
     text-indent:0px;
    color: #FFF;  background-image:url(../img/navigation/bx1-hover.png); background-repeat:no-repeat; background-position:0px 0px; font: 12px/24px "MS PGothic";  letter-spacing:0px;  margin-right: 10px; padding-right:10px; font-weight:bold
}
.sidebarLinkPanelContainer .itemL3
{
    height: 20px; width:150px;
    display: block;
    padding-left: 30px;
    background-image: url(../img/common/squere/4x4blue.gif); background-repeat:no-repeat; background-position:15px 8px;
    margin-right: 10px; padding-right:10px;
    cursor: pointer;
    border-bottom: 1px solid #ECECEC; 
    font: 11px/24px "MS PGothic"; 
    color: #444; letter-spacing:0px;
}
.sidebarLinkPanelContainer .itemL3:hover
{
  
    color: #FFF;  background-image:url(../img/navigation/bx3-hover.png); background-repeat:no-repeat; background-position:0px 0px; font: 11px/24px "MS PGothic";   letter-spacing:0px; font-weight:bold
}
.sidebarLinkPanelContainer .itemL3current
{
  height: 20px; width:150px;
    display: block;
    padding-left: 30px; margin-right: 10px; padding-right:10px; 
    color: #FFF;  background-image:url(../img/navigation/bx3-hover.png); background-repeat:no-repeat; background-position:0px 0px; font: 11px/24px "MS PGothic"; font-weight:bold; letter-spacing:0px; font-weight:bold
}

/* convinient links */

.top3linkscurve
{
   width:170px; 
   height:140px;
   background-image: url(../img/common/toplinksbg-ie6.gif); background-position:bottom; background-repeat:no-repeat; 
   margin: 0px 0px 0px 0px;
} 

.top3linksContainer
{
    width:160px;
    padding-top: 5px;
    padding-left: 10px;
	padding-right: 0px;
    padding-bottom: 0px; 
    border:0px solid #f4f2f2;
    border-top:0px solid #ccc; 
    text-align: left;
    margin-bottom: 0px;
}

.top3linksContainer .item
{
    height: 24px; width:170px;
    display: block;
    padding-left: 20px;
    background-image: url('../img/common/arrowred.png'); background-repeat:no-repeat; background-position:0px 5px;
    margin-right: 0px; padding-right:0px; letter-spacing:0px;
    cursor: pointer;
    border-bottom: 0px solid #ECECEC; 
    font: 12px/24px "MS PGothic"; 
    color: #444;
}
.top3linksContainer .item:hover
{
  
    height: 25px; width:170px; color: #FFF;  background-image:url(../img/common/arrowred-hover-ie6.png); background-repeat:no-repeat; background-position:0px 0px; font: 12px/24px "MS PGothic";  letter-spacing:0px; border-bottom: 0px solid #ECECEC; font-weight:bold
}


.top3linksContainer .itemcurrent
{
  height: 24px; width:195px;
    display: block;
    padding-left: 20px;
    color: #FFF;  background-image:url(../img/common/arrowred-hover-ie6.png); background-repeat:no-repeat; background-position:0px 0px; font: 12px/24px "MS PGothic";  letter-spacing:0px;  margin-right: 10px; padding-right:10px; font-weight:bold
}


/****************************
   FOOTER                                                
****************************/ 
#testimonial {
	width:984px; 
    height:130px; 
    margin: auto;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    background-color:#fff;
    text-align:left;
    font: 11px "MS PGothic";
  	position: relative ; 
  	background-image: url('../img/footer/testimonial-bg.png');
    background-position: 0% 0%;
}

#testimonial h2{ padding-top:5px
	} 

#footerContainer
{
    width:1004px; 
    height:245px; 
    margin:auto;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:0px;
    padding-left:0px;  
    background-color:#222222;;
    text-align:center;
    font: 11px "MS PGothic";
    position: relative;
	      
}

#footerListContainer
{
    display:block;
    height:120px;
    width:100%;
    margin-left: 0px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
    padding-left: 00px;
    
    background-image: url('../img/footer/gradient.png');
    background-position: 0px 0px;
    background-repeat: repeat-x;      
}
#footerLogos
{
    display:block;
    height:80px;
    width:100%;
    margin-left: 0px;
	margin-top:10px;
    padding-top:10px;
    border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;
    text-align: center;
    padding-left: 00px;
   background-image: url('../img/footer/testimonial-bg.png');
    background-position: 0% 0%;
    background-repeat: repeat-x;      
}
#footerLogos .leftlogos{ float:left; width:48%; padding-left:20px; text-align:left; height:50px
	
	}
#footerLogos .rightlogos{float:right; width:48%; text-align:right; padding-right:12px; height:50px; margin-top:0px
}
.footerlogotext {font-size: 10px; color: #3f3d3d; letter-spacing:0px; text-align:center; padding:0px;} 
.footerlogotext a{font-size: 10px; color: #3f3d3d; text-decoration:none}
.footerlogotext a:hover{font-size: 10px; color: #3f3d3d; text-decoration:underline} 

.footerlogotextsmall {font-size: 10px; color: #3f3d3d; letter-spacing:0px; text-align:center} 
.footerlogotextsmall a{font-size: 10px; color: #3f3d3d; text-decoration:none}
.footerlogotextsmall a:hover{font-size: 10px; color: #3f3d3d; text-decoration:underline} 


a.righttext{
font: 10px "MS PGothic"; color:#000; }
.footerList
{
   width: 290px;
   padding-left: 20px;
   margin-right: 10px;
   border: 0px solid blue;
   text-align: left;
   display:inline-block;
   height:100px;
   float:left;
}

.footerList ul 
{ 
    padding-left: 0px; 
    margin-left:0px; margin-right:5px; 
    margin-top:10px;  margin-bottom:0px; padding-bottom:0px;
}

.footerTitleSpan 
{ 
    color:#FFF; 
    font-size: 12px; 
    font-weight: bold;
}

.footerList li 
{ 
    color:#aaa; 
    font-size: 10px; 
    list-style-type:none; 
    list-style-position:outside; 
    margin-bottom: 5px;
    margin-left: 0px;
    padding-left: 0px;
	
}

.footerList #ulfooter 
{ 
    padding-left: 0px; 
    margin-left:0px; margin-right:5px; 
    margin-top:10px;  margin-bottom:0px; padding-bottom:0px;
}
.footerList #ulfooter li 
{ 
    color:#aaa; 
    font-size: 10px; 
	 background-image: url('../img/common/squere/4x4gray.gif');
    background-position: 0px 3px;
    background-repeat: no-repeat;
    list-style-image: none;
    list-style-type:none; 
    list-style-position:outside; 
    margin-bottom: 5px;
    margin-left: 0px;
    padding-left: 10px;
	
}

.footerLink 
{ 
    text-decoration: none;
    color: #999;
}

.footerLink:hover
{
    color: #FFF;
}


.footerCopyright 
{ 
    color: #aaa; font: normal 11px "MS PGothic";  
    margin-top: 0px; padding:0px 20px 0px 20px; letter-spacing:0px; }

.footerPowered 
{ 
    position:absolute; 
    color: #aaa;
    font: normal 10px "MS PGothic"; 
    margin-top: 0px; 
    right: 5px; 
    bottom:5px;
}
/* main body styles */
#aboutContainer
{
    width: 780px;
    min-height: 480px;
    margin-left:0px; 
    padding-bottom: 0px; float:left; z-index:0; 
}
#innerdivBig{float:left; width:745px; margin-right:0px; margin-left:8px}
#innerdivInterview{float:left; width:545px; margin-right:12px; margin-left:8px}
#navigationTreeContainer
{
    border: 0px solid #f7f7f7;
     width:730px;
    padding-top: 5px;
	padding-bottom:5px;
	padding-left:5px;
    font-family: "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho";
    margin-left: 00px;
    margin-right: 0px;
	margin-bottom: 20px;
    font-size: 12px;
    color: #bbb;
    text-align: left; display:block; background-image:url(../img/common/breadcrumb-ie6.png); background-repeat:no-repeat; background-position:0% 0%}
	
	
#rightSideBarContainer1
{
    width: 180px;
    margin-left:0px; margin-right:5px;
    margin-top: 0px;
    padding-left: 0px;
    padding-bottom: 30px;
    border-left: 0px solid #eee;
    background-color: #fff;
    float:right;
}

#Layer5 { 
	float:left; 
	width:250px;
	height:96px; clear:both;
	margin-left:70px; margin-top:40px;}
	
.pagesubtitle {
  font-size: 16px; font-family:Arial, Helvetica, sans-serif; display:block; color:#999;
  width: auto; margin: 0px 0 0 0px; padding-left:20px; letter-spacing:0px;
}

h4 {width:auto; height:20px; padding:0px; padding-bottom:px; font-size:14px;padding-top:0px; font-weight:bold; letter-spacing:0px; margin-bottom:10px; color:#84213f}
span{padding-top:3px; padding-right:5px}
    .bt1 
    {
	    border-style: none; border-color: inherit; border-width: 0; display:inline-block; padding-left: 15px; margin-right: 5px; background: url(../img/common/h4bg.png) no-repeat; height: 25px; padding-bottom:0px;

 /* used to catch the buttonEnding */
    	position: relative;	top: 3px; left: 0px;
}

.bt1Ending {
    position: absolute; display: inline; margin-left: -9px; margin-top: 3px; width: 7px; height: 25px; padding-top:0px; background: url(../img/common/end.png) no-repeat; vertical-align:bottom; }


/* for 101.htm */

#subjectarea{background-image:url(../img/common/stripbg.jpg); background-repeat:repeat;background-position:0% 0%; letter-spacing:1px; padding: 13px 13px 13px 13px; width:505px; height:639px; margin-left:0px; }
#medicine{background-image:url(../img/subjectarea/medicine.png);background-repeat:no-repeat; background-position:0% 0%; height:245px; width:244px; float:left; margin-right:0px;  }
#biosciences{background-image:url(../img/subjectarea/bio.png);background-repeat:no-repeat; background-position:0% 0%; height:245px; width:244px; float:right }
#physicalscience{background-image:url(../img/subjectarea/physicalscience.png);background-repeat:no-repeat; background-position:0% 0%; height:245px; width:244px; float:left; margin-right:16px; margin-top:13px }
#eco{background-image:url(../img/subjectarea/eco.png);background-repeat:no-repeat; background-position:0% 0%; height:245px; width:244px; float:right; margin-top:13px}
#arts{background-image:url(../img/subjectarea/arts.png);background-repeat:no-repeat; background-position:0% 0%; height:123px; width:502px; float:left; margin-right:0px; margin-top:13px }
.subjecttitle{font-size:14px; font-weight:bold; font:"MS PGothic"; color:#4c4c4d; letter-spacing:1px; height:16px; overflow:hidden}
.titleblock{display:block; width:235px; margin-left:5px; margin-right:5px; margin-top:5px; text-align:center;}
.subjectsubtle{font-size:12px; font-weight:bold; font-family:Verdana, Geneva, sans-serif; color:#6d6d6d;}
.subtleblock{display:block; width:235px; margin-left:5px; margin-right:5px; margin-top:3px; text-align:center}
.listblock{ display:block; width:235px; margin-left:5px; margin-right:5px; margin-top:85px; text-align:left}
.listtext{font-size:11px; font-weight:bold; font:"MS PGothic"; color:#8e8f92; line-height:18px; letter-spacing:0px}

.artstitle{font-size:14px; font-weight:bold; font:"MS PGothic"; color:#4c4c4d; letter-spacing:1px; height:16px; overflow:hidden}
.artstitleblock{display:inline-block; width:235px; margin-left:8px; margin-right:5px; margin-top:12px; text-align:left; float:left}
.artssubtle{font-size:12px; font-weight:bold; font-family:Verdana, Geneva, sans-serif; color:#6d6d6d;}
.artssubtleblock{display:inline-block; width:235px; margin-left:10px; margin-right:5px; margin-top:12px; text-align:left}
.artslistblock{ display:block; width:235px; margin-left:265px; margin-right:5px; margin-top:0px; text-align:left}
.artslisttext{font-size:11px; font-weight:bold; font:"MS PGothic"; color:#8e8f92; line-height:18px; letter-spacing:0px}

div.tbox-sub{
margin-bottom:10px;
padding:0 3px 5px; float:left; margin-left:0px; margin-top:5px; 
background:url(../img/publication-support/tbox-sub-bg-01.gif);  background-repeat:no-repeat; background-position:left bottom; width:254px; min-height:230px

}
div.tbox-sub p{padding-bottom:5px; padding-top:0px;}
#layerA{position:relative;left:-5px; top:-10px; width:70px; height:57px; z-index:1;}
.buttonpad40{ padding-bottom:5px; padding-top:40px}
.tbox-img1{height: 57px; width: 70px; position:; display:inline-block; top:0px }
div.tbox-sub ul{display:inline-block; margin-top:-15px;}
div.tbox-sub ul li{ text-indent:55px; margin-bottom:3px; padding-left:10px; list-style-type:none; font-size:12px; width:230px; line-height:175%; }

div.tbox-sub h2{

margin:0 -3px 10px; background-image:url(../img/publication-support/tbox_sub-ttl-02.gif); height:35px; width:254px; display:inline-block; text-align:left; color:#1375a3; font-size:14px; font-weight:bold; position:absolute; background-repeat:no-repeat; 
}
div.tbox-sub h2 span{display:block; height:15px; padding-top:12px; margin-left:40px; float:left;}



/* for List Nav */


	.listNav { margin:0px 0px 10px 0px; clear:right; }
	.ln-letters { overflow:hidden; width:549px }
	.ln-letters a { font-size:11px; display:block; float:left; padding:2px 4px; border:1px solid silver; border-right:none; text-decoration:none; color:#000; font-family:Verdana, Geneva, sans-serif }
	.ln-letters a.ln-last { border-right:1px solid silver; }
	.ln-letters a:hover,
	.ln-letters a.ln-selected { background-color:#eaeaea; }
	.ln-letters a.ln-disabled { color:#ccc; }
	
	.ln-letter-count { text-align:center; font-size:11px; line-height:100%; margin-bottom:3px; color:#FFF; }
	#demo4 #listWrapper { width:545px; margin:0px; padding:5px;}
	#demoFour li { float:left; font:Verdana, Geneva, sans-serif; list-style:none }
	#demoFour a { display:block; font-size:11px; text-align:left; width:255px; border:1px solid #EBEBEB; padding:5px; margin:0 2px 2px 0; text-decoration:none; color:#000; font-family:Verdana, Geneva, sans-serif; letter-spacing:0px; }
	#demoFour a:hover { background-color:#fff}
	.demo{margin:0px; max-height:635px; overflow-y:scroll; overflow-x:hidden; border:0px solid #f8f8f8; }
	
.bl{
  background:url(../img/common/cornerblue_bl.gif);
  background-position:0 100%;
  background-repeat:no-repeat;
  width:100%; 
  text-align:left;
  }
.br{
  background:url(../img/common/cornerblue_br.gif);
  background-position:100% 100%;
  background-repeat:repeat-xy;
  }
.tl{
  background:url(../img/common/cornerblue_tl.gif);
  background-position:0 0;
  background-repeat:no-repeat;
  }
.tr{
	background:url(../img/common/cornerblue_tr.gif);
	background-position:100% 0;
	background-repeat:no-repeat; 

	}
.t{background:url(../img/common/dot.gif);
   background-position:0 0;
   background-repeat:repeat-x; 
   width:100%;
   }
.b{
  background:url(../img/common/dot.gif);
  background-position:0 100%;
  background-repeat:repeat-x;
  }
.l{
  background:url(../img/common/dot.gif);
  background-position:0 0;
  background-repeat:repeat-y;
  }
.r{
  background:url(../img/common/dot.gif);
  background-position:100% 0;
  background-repeat:repeat-y;
  }
  
.text_process{
	color:#7f0f35;
	vertical-align:middle;
	font-weight:bold;
	padding-top:12px;
	padding-left:2px;
	}
	

/*************************
    NAVIGATION
*************************/  

#navigationContainer {   
    height:32px;
    background-color:#000;
    position:relative;
    z-index: 597;
    margin-left: 10px;
    margin-right: 10px; 
    padding-left: 0px;
    padding-right: 0px; 
    margin-top: 0px; letter-spacing:1px;   
}

#navigationContainer a.dirV 
{
    background-image: url('../img/navigation/down.gif');
    background-position: 94% 50%;
    background-repeat: no-repeat; 
}

#navigationContainer a.dirH 
{
    background-image: url('../img/navigation/right.gif');
    background-position: 94% 50%;
    background-repeat: no-repeat;
}

#navigationContainer ul {
    text-align:left;
    margin:0;
    padding:0;
    font: normal 12px/32px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho";
    text-transform: uppercase; 
    list-style:none; 
}
            
#navigationContainer li {
    height:24px;
    display: -moz-inline-box;
    display:inline-block;
    margin:0 0px;
    position:relative; 
    color:#FFF;
}
* html #navigationContainer li
{
   display:inline; /* inline-block trigger for IE6 */
}
*+html #navigationContainer li
{
   display:inline; /* inline-block trigger for IE7 */
}

#navigationContainer li a {
    display:block;
    color:#FFF;
    background-color:#000;
    padding:0 14px;
    text-decoration:none;
}

#navigationContainer li:hover a, #navigationContainer li.sfhover a 
{
    color:#fff; 
    background-color:#84213f;
} 

#navigationContainer li:hover ul ul, 
#navigationContainer li:hover ul ul ul,
#navigationContainer li.sfhover ul ul, 
#navigationContainer li.sfhover ul ul ul 
{
    margin-left:-999em;
}
#navigationContainer li:hover ul, 
#navigationContainer li li:hover ul, 
#navigationContainer li li li:hover ul,
#navigationContainer li.sfhover ul, 
#navigationContainer li li.sfhover ul, 
#navigationContainer li li li.sfhover ul  
{
    margin-left:0;
}

#navigationContainer li ul {
    width:215px;    
    position: absolute;
    margin-left:-999em;    
    left:0;
    top:32px;
    border:0px solid #000;
    border-bottom:0;    
}

#navigationContainer li li {
    display: block;
    height:24px;
    margin:0;
    text-align: left;
    font: normal 11px/24px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho"; 
}

#navigationContainer li li a {
    height: 24px;
    display:block;
    width:195px;
    padding:2px 10px;
    padding-bottom: 0px;
    background-color: #333; 
    color:#FFF;
    line-height:normal;
    border-bottom:0px solid #000;
    text-transform: none;
    font: normal 12px/24px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho"; 
    
    filter: alpha(opacity=95); /* for IE*/
    -moz-opacity: 0.95;
    KhtmlOpacity: 0.95;
    opacity: 0.95;     
}

* html #navigationContainer li li a 
{
    display:inline-block;   /*hide an overflow bug IE6*/
} 
*+html #navigationContainer li li a 
{
    display:inline-block; /*hide an overflow bug IE7*/ 
} 

/* Menu Level 2 */
#navigationContainer li:hover li a,
#navigationContainer li.sfhover li a 
{
    color:#FFF;
    background-color:#333; 
}


#navigationContainer li li:hover a,
#navigationContainer li li.sfhover a 
{
    color:#FFF; font-weight:bold; 
    background-color:#84213f; 
} 

/* Menu Level 3 */
#navigationContainer li li:hover ul,
#navigationContainer li li.sfhover ul
{
    margin-left:215px; 
    top:0px;  
}

#navigationContainer li:hover li li a,
#navigationContainer li.sfhover li li a 
{
    color:#FFF; font-weight:normal;
    background-color:#333;
}

#navigationContainer li li li:hover a,
#navigationContainer li li li.sfhover a 
{
    color:#fff;  font-weight:normal;
    background-color:#84213f;
} 

/* Menu Level 4 */
#navigationContainer li li li:hover ul,
#navigationContainer li li li.sfhover ul
{
    margin-left:200px;
    top:0px;
    background-color: #333;    
    filter: alpha(opacity=95); /* for IE*/
    -moz-opacity: 0.95;
    KhtmlOpacity: 0.95;
    opacity: 0.95;     
}

#navigationContainer li:hover li li li a,
#navigationContainer li.sfhover li li li a  
{
    color:#FFF; background-color:#333;
}

#navigationContainer li li li li:hover a,
#navigationContainer li li li li.sfhover a 
{
    color:#fff; background-color:#84213f;
} 

.ie6marL5{margin-left:5px}

.btpadt{margin-top:0px;}

.servicebox .text .p4{
	font: 12px "MS PGothic";
    width: 245px; float:left;
    color: #000; letter-spacing:2px;
	line-height: 175%;
    margin-left: 0px;
    margin-right: 0px; padding-right:0px
    margin-bottom: 0px;
	
	}
	
.padie{padding-bottom:30px;}
.ht160{height: 160px;}
.gototop{  float:left; text-align:right; position:relative; 
    color: #aaa; letter-spacing:0px;
    font: normal 10px "MS PGothic"; 
    margin-top: 0px; display:block; clear:both; 
    bottom:5px;  width:735px;}
.ls1{letter-spacing:1px;}	