@charset "utf-8";
/* CSS Document */
#headerContainer #enagoThumbsContainerppc
{
    padding-right:0px;
    padding-top: 00px; 
    float: right; margin-top:0px;
    width: 362px; 
	
}

#leftcontainer{
	width:529px;
	height:auto;
	margin:20px 10px 0px 20px;
	padding:0px;
	float:left;

}

#rightcontainer{
	width:434px;
	height:auto;
	margin:20px 20px 0px 10px;
	padding:0px;
	float:left;
	background-color:#f8f8f8
}


	
#bottomcontainer{
	 width:1024px; 
    height:180px; 
    margin:auto;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:10px;
	padding-bottom:20px;
    padding-left:0px;  
    background-color:#FFF;
    text-align:left;
    font: 11px "MS PGothic";
    position: relative; clear:both
}

#ppctitlebg{margin-left:0px; margin-bottom:10px; background-image:url(../img/common/pagetitlebg.jpg); background-repeat: repeat-y; background-position:0% 0%}
.ppcPageTitle
{
    font: bold 26px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho";
    color: #84213f; 
    font-size: 26px;
    margin: 0px;
    margin-right: 20px; padding-left:15px; display:block;
    text-align: left;
    border: 0px solid #ccc; margin-top: 0px; margin-bottom:0px;}
	
.ppcsubtitle {
  font: normal 16px/20px; font-family:Arial, Helvetica, sans-serif; display:block; color:#999;
  width: auto; margin: 0px 0 0 00px; padding-left:20px; letter-spacing:0px;
}

.ppctable1{
	width:529px;
	padding:5px;
	margin:0px; 0px; 0px; 0px;
	
}

.ppctable1 .td1{
width:62px;	 height:50px;
}

.ppctable1 .td2{
	background-image:url(../img/common/stripbg.jpg); 
	background-repeat:repeat;
	background-position:0% 0%; height:50px; 
	padding:10px; vertical-align:top;
	border: 1px solid #d9d9d9; width:462px; 
}
.ppctable1 h3{
	font: bold 16px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho";
	font-size: 16px;
	letter-spacing:2px; 
	color:#84213f
}
.ppctable1 p
{
    font: 12px "MS PGothic";
    width: 100%;
    color: #000;
    line-height: 150%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
	margin-top: 10px;
	text-align:justify;
}


.h3small
{
	font: bold 20px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho";
	color: #000;
	font-size: 20px;
	letter-spacing:2px;
	font-weight:bold;
	padding-bottom:0px;	
	padding-top:6px;
	padding-left:25px;
	display:block;
	width:410px;
	line-height:18px;
	height:30px;
	background-image:url(../img/common/h3bg.png);
	background-position:0% 0%;
	background-repeat:no-repeat;
	border-top:0px solid #cdadb7;
	clear:both;
	margin:0px;
	float: left;
}
.h3big
{
	font: bold 20px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho";
	color: #000;
	font-size: 20px;
	letter-spacing:2px;
	font-weight:bold;
	padding-bottom:0px;	
	padding-top:6px;
	padding-left:25px;
	display:block;
	width:750px;
	line-height:18px;
	height:30px;
	background-image:url(../img/ppc/h3big-bg.gif);
	background-position:0% 0%;
	background-repeat:no-repeat;
	border-top:0px solid #cdadb7;
	clear:both;
	margin:0px;
	float: left;
}

.box1{
	background-color:#FFF;  border-right:#550d21 solid 1px;  border-left:#550d21 solid 1px;  border-bottom:#550d21 solid 1px;  border-top:#550d21 solid 0px; height:78px; padding:5px}
.boxtext{font: bold 12px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho"; vertical-align:top; padding:5px; letter-spacing:2px; line-height:150%; padding-left:10px;
}