@charset "utf-8";
/* CSS Document */

#leftcontainer{
	width:550px;
	height:32px; display:inline-block;
	margin:14px 0px 0px 0px;
	padding:0px; padding-bottom:0px; 
	float:left; background-color:#F00;	
	border-top:#000 solid 0px; 
	border-left:#ccc solid 0px;
	border-right:#ccc solid 0px;
	border-bottom:#000 solid 0px;

}
#headerContainer #titleWrapper1
{
   height:32px; background-color:#CCC; background-image:url(../img/common/stripbg.jpg); background-repeat:repeat; background-position:0% 0%;
	float:left;
    width: 100%; display:block;
    padding-left: 00px; padding-top:0px; padding-bottom:10px;
		border-top:#000 solid 0px; 
	border-left:#ccc solid 0px;
	border-right:#ccc solid 0px;
	border-bottom:#000 solid 0px;
}
#headerContainer #titleWrapper2
{
   height:35px;  background-color:#CCC; background-image:url(../img/common/stripbg.jpg); background-repeat:repeat; background-position:0% 0%;
	float:left;
     width: 50%;
    padding-left: 00px; padding-top:5px; padding-bottom:2px
	
}
#rightcontainer{
	width:434px;
	height:32px;
	margin:14px 00px 0px 00px; vertical-align:bottom;
	padding:0px;
	float:right;
	background-color:#f8f8f8
}
#headerContainer
{
    width:984px;
    padding-right: 10px;
    height:80px;
    margin:auto;
    margin-top:0px;
    padding-top:10px; height:100px;
    padding-bottom: 5px;
    padding-left:10px; 
    background-color:white;  
}
#headerContainer #enagoThumbsContainerppc
{
    padding-right:0px;
    padding-top: 00px;     padding-bottom: 40px; 
    float: right; margin-top:0px;
    width: 100%;
	
}

#right_column .section2 {
    padding: 0 0 12px 0;
    border-bottom: 1px solid #dcdcdc;
  }
/*************************
    NAVIGATION
*************************/  

#navigationContainer1 {   
    height:32px;
    background-color:#000;
    position:relative; float:right; width:100%;
    z-index: 597;
    margin-left: 0px;
    margin-right: 0px; 
	margin-bottom: 0px; 
    padding-left: 0px;
    padding-right: 0px; 
    margin-top: 0px; letter-spacing:1px;
}

#navigationContainer1 a.dirV 
{
    background-image: url('../img/navigation/down.gif');
    background-position: 94% 50%;
    background-repeat: no-repeat;
}

#navigationContainer1 a.dirH 
{
    background-image: url('../img/navigation/right.gif');
    background-position: 94% 50%;
    background-repeat: no-repeat;
}

#navigationContainer1 ul {
    text-align:left;
    margin:0;
    padding:0;
    font: normal 12px/32px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho";
    text-transform: uppercase; 
    list-style:none;
 
}            
#navigationContainer1 li {
    height:24px;
    display: -moz-inline-box;
    display:inline-block;
    margin:0 0px;
    position:relative; 
    color:#FFF;
}
* html #navigationContainer1 li
{
   display:inline; /* inline-block trigger for IE6 */
}
*+html #navigationContainer1 li
{
   display:inline; /* inline-block trigger for IE7 */
}

#navigationContainer1 li a {
    display:block;
    color:#FFF;
    background-color:#000;
    padding:0 11px;
    text-decoration:none;
}

#navigationContainer1 li:hover a, #navigationContainer1 li.sfhover a 
{
    color:#fff; 
    background-color:#84213f;
} 

#navigationContainer1 li:hover ul ul, 
#navigationContainer1 li:hover ul ul ul,
#navigationContainer1 li.sfhover ul ul, 
#navigationContainer1 li.sfhover ul ul ul 
{
    margin-left:-999em;
}
#navigationContainer1 li:hover ul, 
#navigationContainer1 li li:hover ul, 
#navigationContainer1 li li li:hover ul,
#navigationContainer1 li.sfhover ul, 
#navigationContainer1 li li.sfhover ul, 
#navigationContainer1 li li li.sfhover ul  
{
    margin-left:0;
}

#navigationContainer1 li ul {
    width:200px;    
    position: absolute;
    margin-left:-999em;    
    left:0;
    top:32px;
    border:0px solid #000;
    border-bottom:none;     
}

#navigationContainer1 li li {
    display: block;
    height:24px;
    margin:0;
    text-align: left;
    font: normal 12px/24px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho"; 
}

#navigationContainer1 li li a {
    height: 24px;
    display:block;
    width:180px;
    padding:2px 5px;
    padding-bottom: 0px;
    background-color: #333; 
    color:#FFF;
    line-height:normal;
    border-bottom:1px solid #333;
    text-transform: none;
    font: normal 12px/24px "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho";
    
    filter: alpha(opacity=95); /* for IE*/
    -moz-opacity: 0.95;
    KhtmlOpacity: 0.95;
    opacity: 0.95;     
}

* html #navigationContainer1 li li a 
{
    display:inline-block; /*hide an overflow bug IE6*/
} 
*+html #navigationContainer1 li li a 
{
    display:inline-block; /*hide an overflow bug IE7*/ 
} 

/* Menu Level 2 */
#navigationContainer1 li:hover li a,
#navigationContainer1 li.sfhover li a 
{
    color:#FFF;
    background-color:#333;
}


#navigationContainer1 li li:hover a,
#navigationContainer1 li li.sfhover a 
{
    color:#FFF;  font-weight:bold;  
    background-color:#84213f;
} 

/* Menu Level 3 */
#navigationContainer1 li li:hover ul,
#navigationContainer1 li li.sfhover ul
{
    margin-left:210px;
    top:0px;
}

#navigationContainer1 li:hover li li a,
#navigationContainer1 li.sfhover li li a 
{
    color:#FFF; font-weight:normal;
    background-color:#333;
}

#navigationContainer1 li li li:hover a,
#navigationContainer1 li li li.sfhover a 
{
    color:#fff;  font-weight:bold;
    background-color:#84213f;
} 

/* Menu Level 4 */
#navigationContainer1 li li li:hover ul,
#navigationContainer1 li li li.sfhover ul
{
    margin-left:200px;
    top:0px;
    background-color: #333;
    
    filter: alpha(opacity=95); /* for IE*/
    -moz-opacity: 0.95;
    KhtmlOpacity: 0.95;
    opacity: 0.95;     
}

#navigationContainer1 li:hover li li li a,
#navigationContainer1 li.sfhover li li li a  
{
    color:#FFF; background-color:#333;
}

#navigationContainer1 li li li li:hover a,
#navigationContainer1 li li li li.sfhover a 
{
    color:#fff; background-color:#84213f;
} 

.introtext{
    width: 98%;
	display:block; 
	padding:0px; margin:0px; 
	border-top:#000 solid 0px; 
	border-left:#ccc solid 0px;
	border-right:#ccc solid 0px;
	border-bottom:#ccc solid 0px;
}

.txt10j {
	font-family:  "MS PGothic", "MS Gothic", "MS PMincho", "MS Mincho"; 
		font-size: 11px;
}

.fontbrown {
	color: #842447;
}
.paddingtop8px{
	padding-top:8px;
	}
	.lineheight18 {
	line-height: 18px;
}

.ulSupport
{
    margin-bottom: 10px; display:block; border: 0px solid #efeeee; padding:5px; clear:both; margin-top:0px; margin-left:10px;
}

.ulSupport li
{
    background-image: url('../img/common/squere/6x6black.gif');
    background-position: 0px 6px;
    background-repeat: no-repeat;
    list-style-image: none;
    list-style-type:none; 
    list-style-position:outside;
    font: 12px/14px "MS PGothic";
    padding-left: 15px;
    margin-bottom: 5px; line-height:175%;
	vertical-align:top; margin-top:0px;
}
.valigntop {
	vertical-align: top;
}

.pinkbg {
	background: #F2E9EC;
}

.padding10 {
	padding: 5px;
}
.hdots {
	background-image: url(../img/hdots.gif);
	background-repeat: repeat-x;
	background-position: center;
}
.padding4 {
	padding: 4px;
}
.highlightyellow
{background-color:yellow}

#headerContainer #logo
{
    float:left;
    display: block;
    background-color: #FFF;
    margin-right: 0px; margin-top:0px;
}
.slogantext{font-size:18px; font-weight:bold; float:right}
.sloganleftpad{padding-left:25px;}
.sloganrightpad{padding-right:10px; padding-top:10px;}