@charset "utf-8";
/* CSS Document */

/* table */

.tableServiceDefine
{
    border-collapse:collapse;
	background-color:#FFF;
}

.tableServiceDefine tr.even
{
    background-color: #EEE;
}

.tableServiceDefine tr.evenhead
{
    background-color: #f4f8fc;
}
.tableServiceDefine tr.evenhead td{
font-weight:bold; color:#84213f;
font-size:14px; vertical-align:middle
}

.tableServiceDefine tr.evenhead1
{
    background-color: #e3d6da;
	
}
.tableServiceDefine tr.evenhead1 td{
	font-weight:bold; 
	color:#680b28;
	font-size:14px;
	height:25px;
	line-height:25px;
}

.tableServiceDefine td.head
{
	background-color:#ededed;
   	padding-left: 12px; letter-spacing:1px;
   	border:1px solid #e7e7e7;
   	color: #680b28;
   	font: 16pt "MS PGothic";
	height:40px;
	line-height:40px;
	font-weight:bold
}
.tableServiceDefine td.normal
{
	background-color:#ededed;
   	padding-left: 12px; letter-spacing:1px;
	height:40px;
	
   	border:1px solid #e7e7e7;
   	color: #680b28;
   	font: 14px "MS PGothic";
   	font-weight:bold
}
.tableServiceDefine td.advance
{
	background-color:#ededed;
   	padding-left: 12px; letter-spacing:1px;
	height:40px;
	list-style:none;
	
	padding-top:5px;	
   	border:0px solid #e7e7e7;
   	color: #680b28;
   	font: 14px "MS PGothic";
   	font-weight:bold
}
.tableServiceDefine td.head2
{
   background-color: #4f81bd;
   padding-left: 5px;
   padding-right: 5px;
   border:1px solid #F3F3F3;
   text-align: center; color: #FFF;
   font: 14px "MS PGothic"; font-weight:bold
}
.tableServiceDefine td
{
   color:#000;
   padding:2px;
   padding-right: 12px;
   padding-left:12px;
   font: normal 12px/18px "MS PGothic";
   border:1px solid #F3F3F3; vertical-align:middle
   
}
.tableServiceDefine td.indent
{
   color:#000;
   padding-left:20px;
   font: normal 12px/18px "MS PGothic";
   border:1px solid #F3F3F3; 
   
}
.txtnormal{font: normal 12px/18px "MS PGothic";}

.greencr{
	color:#2e4f08;
	font: bold 16pt "MS PGothic";
}
